<div class="row">
  <div class="col-xs-4">
    <h5 class="text-center"><a class="btn btn-primary text-center" href="/history/">NLPT History</a></h5>
  </div>
  <div class="col-xs-4">
    <h5 class="text-center"><a class="btn btn-primary text-center" href="/staff/">Our Staff</a></h5>
  </div>
  <div class="col-xs-4">
    <h5 class="text-center"><a class="btn btn-primary text-center" href="/facilities/">Facilities</a></h5>
  </div>
</div>