  <div class="events">
    <div>
      <a href="/history" style="background-image: url('/assets/images/history-1.png');" class="event-image event-image-cover">
      </a>
      <div class="event-info">
        <h5 class="event-name">History</h5>
        <p class="event-date"><small>May 2018</small>
      </div>
    </div>
    <div>
      <a href="/staff" style="background-image: url('/assets/images/content-image-staff-1.png');" class="event-image event-image-cover">
      </a>
      <div class="event-info">
        <h5 class="event-name">Staff</h5>
        <p class="event-date"><small>March 2018</small>
      </div>
    </div>
    <div>
      <a href="/facilities" style="background-image: url('/assets/images/camb-gym-6.jpg');" class="event-image event-image-cover">
      </a>
      <div class="event-info">
        <h5 class="event-name">Facilities</h5>
        <p class="event-date"><small>Spring 2018</small>
      </div>
    </div>
  </div>
