<h4>Cambridge</h4>
<table class="table table-schedule table-hover table-small-text table-striped">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thur</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </tr>
    <tr>
      <td>
        Open Gym
      </td>
      <td>
        <p>6am-9pm*</p>
      </td>
      <td>
        <p>6am-9pm*</p>
      </td>
      <td>
        <p>6am-9pm*</p>
      </td>
      <td>
        <p>6am-9pm*</p>
      </td>
      <td>
        <p>6am-6:30pm*</p>
      </td>
      <td>
        <p>8am-2pm</p>
      </td>
      <td>
        <p>8am-2pm</p>
      </td>
    </tr>
    <tr>
      <td>NLPTfit Coaching</td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
      </td>
      <td>
        <p>8am-9am</p>
      </td>
      <td>
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <small><em>* Gym will be unavailable 9am-12pm during July & August for our athlete training program</em></small>
      </td>
    </tr>
  </tbody>
</table>

<h4>Stratford</h4>
<table class="table table-schedule table-hover table-small-text table-striped">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thur</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </tr>
    <tr>
      <td>Open Gym</td>
      <td colspan="7">
        Expansion coming in September 2017
      </td>
    </tr>
    <tr>
      <td>NLPTfit Coaching</td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>12pm-1pm</p>
        <p>5pm-6pm</p>
      </td>
            <td>
        &nbsp;
      </td>
      <td>
        &nbsp;
      </td>

  </tbody>
</table>