<p>Erik has been with NLPT, both as an athlete and as a coach for over 6 years. After finishing his CIS football career at Bishop's University in Quebec, Erik joined the staff and primarily works with athletes as well as teams. Erik has a tremendous amount of knowledge just in the game of football, but in training and physical preparation in general.</p>
