<p>Chris joined the NLPT team as a Strength and Conditioning Coach in the fall of 2016. He is also a student in the Honours Bachelor of Kinesiology program at Wilfrid Laurier University. Chris played Football and Rugby for 5 years, and won a regional bronze medal in OPA powerlifting in 2015. These experiences convinced him of the vital role strength plays in athletic performance. He also earned a Canfitpro Personal Training Specialist Certification in April 2016.</p>

<p>Chris’ resume includes:</p>
<ul>
  <li>5 years of Football and Rugby</li>
  <li>Powerlifting bronze medal winner (Junior 74kg class)</li>
  <li>Canfitpro PTS certification</li>
  <li>Current Honours Kinesiology student at WLU</li>
</ul>