<table class="table">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thur</td>
      <td>Fri</td>
      <td>Sat</td>
      <td>Sun</td>
    </tr>
    <tr>
      <td>Open hours (adult training only)</td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-9pm</p></td>
      <td><p>6am-9am; 12pm-6:30pm</p></td>
      <td><p>8am-12pm</p></td>
      <td><p>9am-12pm</p></td>
    </tr>
    <tr>
      <td>NLPTfit</td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
        <p>7:30pm-8:30pm</p>
      </td>
      <td>
        <p>6am-9am</p>
        <p>5pm-6pm</p>
      </td>
      <td>8am-9am</td>
      <td>None</td>
    </tr>
    <tr>
      <td>NLPTathlete</td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>9am-10am</p></td>
      <td><p>None</p></td>
    </tr>
  </tbody>
</table>