<table class="table table-striped">
<tbody>
<tr>
<td>&nbsp;</td>
<td>Mon</td>
<td>Tue</td>
<td>Wed</td>
<td>Thur</td>
<td>Fri</td>
<td>Sat</td>
</tr>
<tr>
<td>6am-7am</td>
<td>STRONG</td>
<td>LEAN</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>7am-8am</td>
<td>LEAN</td>
<td>STRONG</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>8am-9am</td>
<td>STRONG</td>
<td>LEAN</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>LEAN&nbsp;</td>
</tr>
<tr>
<td>9:30am-10:30am</td>
<td>DAY FIT</td>
<td>&nbsp;</td>
<td>DAY FIT&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;DAY FIT</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>12pm-1pm</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>5pm-6pm</td>
<td>&nbsp;OPEN GYM</td>
<td>OPEN GYM&nbsp;</td>
<td>OPEN GYM&nbsp;</td>
<td>OPEN GYM&nbsp;</td>
<td>OPEN GYM&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>