<table class="table table-small-text table-striped">
<tbody>
<tr>
  <td>&nbsp;</td>
  <td>Mon</td>
  <td>Tue</td>
  <td>Wed</td>
  <td>Thur</td>
  <td>Fri</td>
  <td>Sat</td>
</tr>
<tr>
  <td>6am-7am</td>
  <td><i class="fa fa-check fa-lg fa-check-green" aria-hidden="true"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>7am-8am</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>8am-9am</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i>;</td>
</tr>
<tr>
  <td>9:30am-10:30am</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>12pm-1pm</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>5pm-6pm</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>7:30pm-8:30pm</td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td><i class="fa fa-check fa-check-green fa-lg"></i></td>
  <td></td>
  <td>&nbsp;</td>
</tr>
</tbody>
</table>