<div class="subscribe-wrapper">
  <div class="subscribe container">
    <img src="/assets/images/next-level-nutrition.png" class="img-responsive img-thumbnail-left" />
    <div id="mc_embed_signup">
      <h2>NLPT Monthly</h2>
        <label for="mce-EMAIL"><p>Subscribe to our monthly newsletter and get a <b>FREE</b> download of Next Level Nutrition, our 27-page handbook that's designed to get you started on the path of rock-solid nutrition.</p>
        <p> NLPT Monthly contains exclusive access to special promotions, NLPT news, recipe ideas and more!</p></label>
      <form action="//nlptinc.us2.list-manage.com/subscribe/post?u=c0d97252937de8c38435c6d67&amp;id=0dbfd78bf1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email here" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_c0d97252937de8c38435c6d67_0dbfd78bf1" tabindex="-1" value="">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </form>
    </div>
  </div>
</div>