<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="footer-social col-sm-4">
        <h3 class="footer-column-title">Follow</h3>
        <p><i style="margin-right:10px;" class="fa fa-2x fa-instagram" aria-hidden="true"> </i><a class="instagram" href="http://www.instagram.com/nlpt1" target="_blank">Instagram</a></p>
        <p><i style="margin-right:10px;" class="fa fa-2x fa-facebook" aria-hidden="true"></i><a class="facebook" href="http://www.facebook.com/nlpt1" target="_blank">Facebook</a></p>
        <p><i style="margin-right:10px;" class="fa fa-2x fa-twitter" aria-hidden="true"></i><a class="twitter" href="http://www.twitter.com/nlpt1" target="_blank">Twitter</a></p>
      </div>

      <div class="col-sm-4">
        <h3 class="footer-column-title">Navigation</h3>
        <ul class="footer-navigation">
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/programs/">Programs</a></li>
          <li><a class="nav-link" href="/massage/">Massage</a></li>
          <li><a class="nav-link" href="/blog/">Blog</a></li>
          <li><a class="nav-link" href="/history/">NLPT History</a></li>
          <li><a class="nav-link" href="/staff/">Staff</a></li>
          <li><a class="nav-link" href="/facilities/">Facilities</a></li>
          <li><a class="nav-link" href="/contact/">Contact</a></li>
          <li><a class="nav-link" href="/clients-section/">Clients section</a></li>
        </ul>
      </div>

      <div class="col-sm-4 contact">
        <h3 class="footer-column-title">Contact</h3>
        <h4>Phone</h4>
        <p>(519) 620-9898</p>

        <h4>Email</h4>
        <p>info@mynlpt.com</p>

        <h4>Stratford Address</h4>
        <div class="address">
          <p>Stratford Rotary Complex</p>
          <p>353 McCarthy Dr</p>
          <p> Stratford, Otario N5A 7S7</p>
        </div>

        <h4>Cambridge Address</h4>
        <div class="address">
          <p>460 Thompson Dr, Unit 4</p>
          <p>Cambridge, Ontario</p>
          <p>N1T 2K8</p>
        </div>
      </div>
    </div>

    <div class="schedule">
      <h3 class="footer-column-title">Schedule</h3>
      <p>Please see the <a href="/programs/">programs page</a> for specific class schedule</p>
      <h4 class="text-center">Cambridge Program Schedule</h4>
      {{> "cambridge_schedule"}}

      <h4 class="text-center">Stratford Program Schedule</h4>
      {{> "stratford_schedule"}}
    </div>

  </div>
</div>