<div class="hero-wrapper">
  <img src="/assets/images/banners/nlpt-main-banner.jpg" />
  <div class="container hero-header">
    <h1 class="site-title">NLPT</h1>
  <img class="hero-logo" src="/assets/images/logo-white.png" />
    <h4 class="sub-title">A hard working gym with the best coaches in the business.</h4>
  </div>
</div>
