<div class="row clearfix">
  <div class="col-sm-4">
      <h2 class="text-center">Athletes</h2>
    <img src="/assets/images/programs-athlete.jpg" class="img-center-200 img-circle">
        <h5><a href="/nlpt-athlete/">NLPTathlete</a></h5>
        <p>Our year-round training program for athletes of all sports ages 12 and older.</p>
        <h5><a href="/hp-program/">HP Program</a></h5>
        <p>Our summer program geared towards hockey players ages 12 and older. Includes on and off-ice training.</p>
        <h5><a href="/learn-to-train/">Learn to Train</a></h5>
        <p>A fun, interactive, movement skill-based program for kids ages 8-11 years old.</p>
    </div>

  <div class="col-sm-4">
      <h2 class="text-center">Fitness</h2>
    <img src="/assets/images/programs-fit.jpg" class="img-center-200 img-circle">
        <h5><a href="/fitness/#open-membership">Open Membership</a></h5>
        <p>Total freedom and flexibility at a low monthly cost.</p>
        <h5><a href="/fitness/#nlpt-fit">NLPTfit</a></h5>
        <p>Our monthly training program with expert coaching.</p>
        <h5><a href="/fitness/#advanced-program-design">Advanced Program Design</a></h5>
        <p>Specialized and individual program design for specific goals and needs.</p>
        <h5><a href="/fit-cup/">Fit Cup</a></h5>
        <p>A short-term fitness challenge held several times per year. Does not require membership.</p>
    </div>

  <div class="col-sm-4">
      <h2 class="text-center">Sports teams</h2>
    <img src="/assets/images/program-team.jpg" class="img-center-200 img-circle">
        <h5><a href="/nlpt-team/">NLPTteam</a></h5>
        <p>Our training system for teams or larger groups. Training is catered to the team's sport and the age of the teams.</p>
    </div>
</div>