<div class="portals row clearfix">
  <div class="portal col-xs-4">
      <img class="img-center-200 img-circle" src="/assets/images/portal_1.jpg">
    <a href="/about/">
      <h3 class="text-center">About Us</h3>
    </a>
      <p>Find out more about our gym's history, our staff, and our training philosophy.</p>
  </div>
  <div class="portal col-xs-4">
      <img class="img-center-200 img-circle" src="/assets/images/portal_2.jpg">
    <a href="/programs/">
      <h3 class="text-center">Programs</h3>
    </a>
      <p>Whether you're an athlete, the coach of a team, or are just looking to get in the best shape of your life, NLPT has you covered.</p>
  </div>
  <div class="portal col-xs-4">
      <img class="img-center-200 img-circle" src="/assets/images/portal_3.jpg">
    <a href="/blog/">
      <h3 class="text-center">Blog</h3>
    </a>
      <p>Hear what the coaches have to say. We regularly post updates on athletic development, training philosophy, nutrition, and gym news.</p>
  </div>
</div>