<div class="row main-social clearfix">
  <div class="col-xs-4">
    <a href="http://www.facebook.com/nlpt1">
    <img class="img-center-100-px" src="/assets/images/main-facebook.png" />
    </a>
      <h4 class="text-center text-muted">nlpt1</h4>
      <p>Follow us on facebook to see the latest on what NLPT is up to. We do Facebook Live seminars, share recipe ideas, and post thoughtful content relavent to health, fitness, and athletic development.</p>
      <div class="fb-follow" data-href="https://www.facebook.com/nlpt1" data-layout="button_count" data-size="large" data-show-faces="true"></div>
  </div>
  <div class="col-xs-4">
    <a href="http://www.instagram/nlpt1">
    <img class="img-center-100-px" src="/assets/images/main-instagram.jpg" />
    </a>
      <h4 class="text-center text-muted">@nlpt1</h4>
      <p>We're extremely active on Instagram and post pictures from both NLPT facilities on a daily basis. Check us out to get a behind the scenes look at NLPT and our athletes and clients.</p>
  </div>
  <div class="col-xs-4">
    <a href="http://www.twitter.com/nlpt1">
    <img class="img-center-100-px" src="/assets/images/main-twitter.png" />
    </a>
      <h4 class="text-center text-muted">@nlpt1</h4>
      <p>Twitter is where we share athlete and client news, as well as post relevant and interesting stories from around the internet.</p>
  </div>
</div>