<table class="table table-small-text table-striped">
<tbody>
<tr>
<td></td>
<td>Mon</td>
<td>Tue</td>
<td>Wed</td>
<td>Thur</td>
<td>Fri</td>
<td>Sat</td>
</tr>
<tr>
<td>12pm-1pm</td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td></td>
</tr>
<tr>
<td>5pm-6pm</td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td></td>
</tr>
<tr>
<td>7:30pm-8:30pm</td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td><i class="fa fa-check fa-lg fa-check-green"></i></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>