<table class="table table-striped">
<tbody>
<tr>
<td>&nbsp;</td>
<td>Mon</td>
<td>Tue</td>
<td>Wed</td>
<td>Thur</td>
<td>Fri</td>
<td>Sat</td>
</tr>
<tr>
<td>12pm-1pm</td>
<td>LEAN</td>
<td>STRONG&nbsp;</td>
<td>WILDCARD</td>
<td>LEAN&nbsp;</td>
<td>STRONG&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>5pm-6pm</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;WILDCARD</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>7:30pm-8:30pm</td>
<td>&nbsp;STRONG</td>
<td>&nbsp;</td>
<td>&nbsp;LEAN</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>