<div class="testimonial-ticker-wrapper">
<h2 class="section-title">From the clients</h2>
<img src="/assets/images/quotation.png" />
<div class="testimonial-ticker">
  <p class="animated fadeInUp"> The coaches at NLPT are very welcoming and friendly, but they know when work needs to get done.<span>- Alex M, 17</span></p>
</div>
</div>

