 {{!< default}}
 <script type="text/javascript">
  window.location.href = '/summerhockeytraining';
 </script>

{{!--<h1 class="page-header">High Performance Hockey Program</h1>

<p>Since 2008, we've been training some of the region's top hockey players as they prepare for their upcoming seasons.</p>

<p>There have been dozens of professional, NCAA/CIS (both male and female), and OHL level players through our doors, not to mention hundreds of Junior and minor hockey players who have all taken on the challenge of a serious, properly structured strength and conditioning program. </p>

<p>To learn more about the general programming philosphy and approach to the high performance program, please watch the webinar posted below, which was published last year prior to our HP2016 program.</p>

<hr>
<h2 class="text-center">HP2018</h2>
<p>Details on our 2018 Summer High Performance Hockey program will be released in February, 2018. Please do not hesitate to <a href="mailto:info@mynlpt.com">contact us</a> should you have any questions until that time.</p>
<img class="img-center-75" src="/assets/images/hp2016crew.jpg" />
<div class="video-wrapper">
<iframe src="https://www.youtube.com/embed/KgFM-OGQQZo" frameborder="0" allowfullscreen></iframe>
</div>

<h1 class="page-header">Summer 2017 Details</h1>

<img class="img-center-50" src="/assets/images/hp2017logo.png" />

<p>This summer is expected to be no different. You'll find everything you need to know about HP2017 below including schedules, ice-times, costs, and the features that make our program so unique.</p>

<section>
<h2 class="text-center">Strength and Conditioning</h2>

<h4>Phase 1 (May - June)</h4>

<p>The emphasis of the first phase of the program is on creating a large foundation of strength, aerobic fitness, and on learning effecient movement mechanics. The volume will gradually increase over these first 8-weeks in preparation for the intense on and off-ice demands of Phase 2.</p>

<h4>Phase 2 (July - August)</h4>

<p>The next phase will progress to more power, speed and energy system specific training as the beginning of the competitive season approaches. Competition and difficulty of this phase will be very high and athletes must be prepared to work and do what is required outside of the gym (nutrition, recovery) to be prepared to train.</p>

<h3>Cambridge Training schedule</h3>
<h4><b>Phase 1</b> <small>May 8 - June 26</small></h4>
<table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pro/NCAA/OHL</td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
    </tr>
    <tr>
      <td>JR/2001/2002</td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
      <td><p>3pm-6pm</p></td>
    </tr>
    <tr>
      <td>2003-2004 <small style="display:block;">(3 sessions per week)</small></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td></td>
    </tr>
    <tr>
      <td>2005-2006 <small style="display:block;">(2 sessions per week)</small></td>
      <td></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td></td>
    </tr>
    <tr>
    <td colspan="6"><em>* Times are subject to change. Please let us know if you have specific questions or if the schedule does not work for you. We are always willing to work with people to make sure they can still participate</em></td>
    </tr>
  </tbody>
</table>

<h4><b>Phase 2</b> <small>July 3 - Aug 21</small></h4>
<table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pro/NCAA/OHL</td>
      <td><p>9am-10:30am</p></td>
      <td><p>9am-10:30am</p></td>
      <td><p>9am-10:30am</p></td>
      <td><p>9am-10:30am</p></td>
      <td><p>9am-10:30am</p></td>
    </tr>
    <tr>
      <td>JR/2001</td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
    </tr>
    <tr>
      <td>2002</td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
    </tr>
    <tr>
      <td>2003-2004 <small style="display:block;">(3 sessions per week)</small></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
    </tr>
    <tr>
      <td>2005-2006 <small style="display:block;">(2 sessions per week)</small></td>
      <td><p>3pm-4pm</p></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td><p>3pm-4pm</p></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td></td>
    </tr>
    <tr>
    <td colspan="6"><em>* Times are subject to change. Please let us know if you have specific questions or if the schedule does not work for you. We are always willing to work with people to make sure they can still participate</em></td>
    </tr>
  </tbody>
</table>


<h3>Stratford Training schedule</h3>
<h4><b>Phase 1</b> <small>May 8 - June 26</small></h4>
<table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pro/NCAA/OHL</td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
    </tr>
    <tr>
      <td>Jr/2001</td>
      <td><p>3:30pm-5pm</p></td>
      <td><p>3:30pm-5pm</p></td>
      <td><p>3:30pm-5pm</p></td>
      <td><p>3:30pm-5pm</p></td>
      <td><p>3:30pm-5pm</p></td>
    </tr>
    <tr>
      <td>2002</td>
      <td><p>4pm-5pm</p></td>
      <td><p>4pm-5pm</p></td>
      <td><p>4pm-5pm</p></td>
      <td><p>4pm-5pm</p></td>
      <td><p>4pm-5pm</p></td>
    </tr>
    <tr>
      <td>2003-2004 <small style="display:block;">(3 sessions per week)</small></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td></td>
    </tr>
    <tr>
      <td>2005-2006 <small style="display:block;">(2 sessions per week)</small></td>
      <td></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td></td>
      <td><p>6:30pm-7:30pm</p></td>
      <td></td>
    </tr>
    <tr>
    <td colspan="6"><em>* Times are subject to change. Please let us know if you have specific questions or if the schedule does not work for you. We are always willing to work with people to make sure they can still participate</em></td>
    </tr>
  </tbody>
</table>

<h4><b>Phase 2</b> <small>July 3 - Aug 21</small></h4>
<table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PRO/NCAA/JR/2001</td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
      <td><p>10:30am-12pm</p></td>
    </tr>
    <tr>
      <td>2002</td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
      <td><p>1pm-2pm</p></td>
    </tr>
    <tr>
      <td>2003-2004 <small style="display:block;">(3 sessions per week)</small></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
      <td><p>2pm-3pm</p></td>
    </tr>
    <tr>
      <td>2005-2006 <small style="display:block;">(2 sessions per week)</small></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td><p>6pm-7pm</p></td>
      <td></td>
    </tr>
    <tr>
    <td colspan="6"><em>* Times are subject to change. Please let us know if you have specific questions or if the schedule does not work for you. We are always willing to work with people to make sure they can still participate</em></td>
    </tr>
  </tbody>
</table>
</section>
<section>


<h2 class="text-center">On-Ice Skills Development</h2>

<img class="img-right-25" src="/assets/images/walker.jpg" />

<p>The HP2017 Program will offer world class coaching provided by Scott Walker (Vancouver Canucks Player Development Coach, World Junior Gold Medalist, OHL Champion, 15 years NHL Experience).</p>

<p>The on-ice portion of the HP program will begin June 26th, 2017 and include 4 sessions during that initial week (Monday - Thursday). Weekly ice sessions will vary depending on the date (see the table below for a full schedule).</p>

<p>Sessions will be conducted at a high-tempo and focus on individual skill development appropriate for each age category.</p>

<h3>On-ice schedule</h3> <table class="table table-small-text table-striped"> <thead> <tr> <td></td> <td><h4>Monday</h4></td> <td><h4>Tuesday</h4></td> <td><h4>Wednesday</h4></td> <td><h4>Thursday</h4></td> <td><h4>Friday</h4></td> </tr> </thead> <tbody> <tr> <td>June 26</td> <td> <p>Jr/2001: 3pm</p> <p>2002: 4pm</p> <p>2003/2004: 5pm</p> </td> <td> <p>Jr/2001: 3pm</p> <p>2002: 4pm</p> <p>2003/2004: 5pm</p> </td> <td> <p>Jr/2001: 3pm</p> <p>2002: 4pm</p> <p>2003/2004: 5pm</p> </td> <td> <p>Jr/2001: 3pm</p> <p>2002: 4pm</p> <p>2003/2004: 5pm</p> </td> <td></td> </tr> <tr> <td>July 3</td> <td></td> <td> <p>Jr/2001: 3pm</p> <p>2002: 4pm</p> <p>2003/2004: 5pm</p>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>July 10</td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
    </tr>
    <tr>
      <td>July 17</td>
      <td></td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>July 24</td>
      <td></td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>July 31</td>
      <td></td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>                
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Aug 7</td>
      <td></td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>
      </td>
      <td>
        <p>Jr/2001: 3pm</p>
        <p>2002: 4pm</p>
        <p>2003/2004: 5pm</p>
      </td>
    </tr>
    <tr>
      <td style="font-weight:normal;" colspan="6"><em>*All skates will take place at the Cambridge Ice Park</em></td>
    </tr>
   </tbody>
</table>
</section>

<section class="clearfix">
<h2 class="text-center">Nutrition and Massage</h2>

<img class="img-right-25" src="/assets/images/platzmassage.jpg" class="image-right" />
<p>Unlike 10 years ago, it’s no longer just about the training. Nutrition and recovery are now crucial components to an athlete’s development plan and our 2017 program will provide support on both fronts.</p>

<p>Athletes will be required to fill out a nutritio logs which will be evaluated by the NLPT coaching and therapy staff, who will then provide feedback and structured guidance on developing sound athlete-centered nutrition habits. Additionally, pre and post-workout Biosteel supplementation will be provided for each training session.</p>

<p>The HP2017 program will have built in recovery weeks and workouts at strategic points in the summer to ensure athletes stay fresh and ready to perform at times. Pro, NCAA, and OHL athletes will also be provided with complimentary weekly 30-minute massage therapy sessions.</p>
</section>
<section>
<h2 class="text-center">Costs and program options</h2>

<table class="table table-small-text table-striped">
<thead>
  <tr>
    <td rowspan="2"></td>
    <td colspan="4"><h4>Features</h4></td>
    <td rowspan="2"><h4>16 week option</h4></td>
    <td rowspan="2"><h4>12 week option</h4></td>
    <td rowspan="2"><h4>8 week option</h4></td>
  </tr>
  <tr>
    <td>Sessions / week</td>
    <td>On-ice included</td>
    <td>Weekly massage</td>
    <td>Pre &amp; post-workout nutrition</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td><p>Pro/NCAA/OHL</p></td>
    <td><p>5</p></td>
    <td><p>√</p></td>
    <td><p>√</p></td>
    <td><p>√</p></td>
    <td><p>$2999</p></td>
    <td><p>$2599</p></td>
    <td><p>$2199</p></td>
  </tr>
  <tr>
    <td><p>Jr-2002</p></td>
    <td><p>5</p></td>
    <td><p>√</p></td>
    <td><p></p></td>
    <td><p>√</p></td>
    <td><p>$2699</p></td>
    <td><p>$2299</p></td>
    <td><p>$1899</p></td>
  </tr>
  <tr>
    <td><p>2003-2004</p></td>
    <td><p>3</p></td>
    <td><p>√</p></td>
    <td><p></p></td>
    <td><p>√</p></td>
    <td><p>$1899</p></td>
    <td><p>$1599</p></td>
    <td><p>$1299</p></td>
  </tr>
  <tr>
    <td><p>2005-2006</p></td>
    <td><p>2</p></td>
    <td><p></p></td>
    <td><p></p></td>
    <td><p>√</p></td>
    <td><p>$649</p></td>
    <td><p>$499</p></td>
    <td><p>$359</p></td>
  </tr>

  <tr>
    <td colspan="8">
      <em style="display:block;text-align:left;margin-bottom:5px;">* Goalies will receive $200 discount due to there being no specific goaltending instruction.</em>
      <em style="display:block;text-align:left;margin-bottom:5px;">* Prices do not include HST</em>
    </td>
  </tr>
</tbody>
</table>
</section>
<section>

<h2 class="text-center">How to register</h2>
<p>Registration will open Monday, February 6th. In order to secure your spot we must receive a deposit of at least $500. The remainder of your balance can be made in equal installments on June 1st, July 1st, and August 1st.</p>
<p>Here's how to register.</p>
<h4>By email</h4>
<p>1. Send us an email at: <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> with the subject 'HP2017 Registration'</p>
<p>2. Please specify your son/daughter's age, where they played last year, along with the program option you would like to sign up for.</p>
<p>3. Someone from NLPT will be in contact with you shortly to set up your deposit payment.</p>
<h4>By phone</h4>
<p>1. Call us at 519-620-9898</p>
<p>2. Someone from the gym will answer (or return your voicemail shortly) and collect all of the necessary infomration.</p>
<p>3.Deposits can be made over the phone with a credit card and a receipt will be emailed to you.</p>
</section>
{{> "contact_bar"}} --}}