{{!< default}}

<h1 class="page-header">Podcast</h1>

<section>
  <h2>#4- HP2017 Week 5 - Specific vs general training and some mistakes we made in our own development</h2>
  <div class="row">
    <div class="col-sm-9">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/327293736&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
    <div class="col-sm-3">
      <p>We're back this week to talk about another really important topic: the difference between specific vs general preparation. It's critical that athletes realize HOW their training in the gym is serving them on the ice, court, or field.</p>

      <p>We also get into a little bit of our own background and talk about some critical mistakes we made with regards to our own development.</p>

    </div>
  </div>
</section>

<section>
  <h2>#3: HP2017 Week 3 - All about testing and why things don't always improve</h2>
  <div class="row">
    <div class="col-sm-9">
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/324612856&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
    <div class="col-sm-3">
    <p>In episode 3, Andrew and Eric discuss testing athletes and why things don't always improve. This is a big area of misunderstanding among athletes and parents and it's important they recognize our attitude towards testing and how to interpret results.</p>
    </div>
  </div>
</section>

<section>
  <h2>#2: HP2017 Week 2 - What separates successful athletes and when to veer off your program</h2>
  <div class="row">
    <div class="col-sm-9">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/323397451&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    </div>
    <div class="col-sm-3">
      <p>This week NLPT owner and founder Andrew Hopf stops in to talk training. We get into key mindset differences between successful and less successful athletes, how to read and execute programs properly, and Andrew shares some of his insight from his coaching experience with the University of Waterloo as well as Owen Sound Attack.</p>
    </div>
  </div>
</section>

<section>
    <h2>#1 - HP2017 Week 1: What's the goal for the first week?</h2>
  <div class="row">
    <div class="col-sm-9">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322273925&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
    <div class="col-sm-3">
      <p>In this first episode of the NLPT Podcast, we get into who the podcast is for, why we're doing it, and what we hope you, the athlete, can get out of it.</p>
      <p>We review the first week of our High Performance Hockey program and discuss what the goal for the first week of any training program should be about.</p>
      </div>
    </div>
</section>