{{!< default}}
  <h1 class="page-header">NLPT Fit</h1>
  <p>Looking for something a little different?</p>
  <p>You don't have to be a competitive athlete to train at NLPT, nor do you need to be extremely fit or in shape. We take the mystery and the confusion out of program design so you can focus on just getting the work done and getting results, and we do it in a friendly, approachable environment that leaves you with a smile on your face wanting to come back the next day.</p>

  <img src="/assets/images/content-image-5.jpg">
  <section>
    <h1>Why NLPT?</h1>

    <blockquote>
      <p>"Within 2 weeks of being a part of NLPT I finally understood what it meant to have fitness, health and nutrition as a major theme in my life."</p>
      <p>Lisa M, 49</p>
    </blockquote>

    
    <p>On one end, you have your giant box gyms and fitness warehouses. With every piece of equipment under the sun, high-end smoothie bars, luxurious saunas, and rock-bottom prices, they seem like the ultimate place to get fit and healthy. But if that’s the case, then why aren’t you seeing results?</p>

    <p>The fact is that those kinds of gyms aren’t in the health and fitness business; they’re fitness equipment rental companies. That’s right. For a low monthly cost, they’ll let you use their stuff. Other than that, you’re basically on your own.</p>

    <p>But what if you don’t know how to properly design an exercise program?</p>

    <p>What if you don’t have much experience and are afraid of getting injured?</p>

    <p>What if you’ve been spinning your wheels for years and just aren’t getting anywhere?</p>

    <p>It shouldn’t be that hard, should it? I mean, it’s not like you want to be a fitness model or pro athlete. You just want to feel healthy, move well, and fit into that old pair of jeans you refuse to throw out.</p>

    <p>That brings us to the other end: personal training.</p>

    <p>For only $75-$100 per hour, you can get set up with a personal trainer who will be with you every step of the way -- literally.</p>

    <p>They’ll be there to greet you for every workout and help you get warmed up for your session. They’ll be there to monitor every set, carefully select the proper weight, and ensure that each and every rep is performed with flawless technique. Forget what rep you’re on? No problem! They’ll be close by counting backwards from ten, ensuring you never lose your way.</p>

    <p>Is that level of attention really necessary? Is exercising really that complicated? Doesn’t it sound oddly like overpriced baby-sitting?</p>

    <p>Now, some people look to hire someone to hang out with during their workouts -- and there’s nothing wrong with that. However, most people aren’t looking for a new friend. They’re looking for some accountability and some assurance that what they’re doing is safe and effective.</p>

    <p>Unfortunately, these are the two realities people are faced with when they decide to get in shape: It’s either low-cost with no support or high-cost with excessive support.</p>

    <p>At NLPT, we think we can meet you somewhere in the middle.</p>
  </section>
  <section>

  <h1>Our Program</h1>

  <p>NLPTfit is a semi-private training model where each and every client gets an individualized assessment, program design and coaching. These are all done alongside other like-minded individuals in a group environment where each session is coached and monitored by a certified trainer. Where we differ from personal training is that we’re not going to do everything for you. Our job is to teach and guide you so you don’t have to be 100% dependent on our coaches for support.</p>

  <img class="img-right-50" src="/assets/images/content-image-13-fit.jpg" />

  <p>After a few months of training with us, you’ll know and understand the principles of good exercise technique, how to properly select weights, and which exercises are the best fit for your goals and ability. And if you ever need a hand, a coach is never more than 20-feet away.</p>

  <p>This approach allows you to enjoy the benefits of expert instruction and support while keeping costs at a minimum for everyone.</p>

  <h3>Coaching</h3>

  <p>Just so we’re clear, we’re not suggesting that our coaches are just “around” if you decide you need some help. We don’t want you to think that there’s some college kid checking his phone at the front desk while you’re back in the gym wondering if your deadlift technique is correct, and it’s up to you to go get a helping hand.</p>

  <p>With all due respect to college kids, our coaches are educated, experienced, and highly involved in the training process. If you’re missing the mark on something, a coach will be on it.</p>

  <p>Here’s how a typical NLPTfit session works.</p>

  <p>Instruction begins on time. The coach will lead the group through a comprehensive warm-up, after which they’ll go over the plan for the day. Depending on the theme of the session, the coach will make modifications for each member of the group and training will begin. If you’re new to our system, the coach will probably spend a little more time with you to make sure you’re set up properly and have a good grasp on what to do. As you continue to learn, you’ll eventually become a little more self-reliant.</p>

  <p>As the session progresses, the coach will be recording what modifications to the program have been made for you and what you’ve specifically done for each exercise so that the next week, you can pick up right where you left off and you can pursue your own personalized plan for progression.</p>

  <img class="img-right-50" src="/assets/images/content-image-12-fit.jpg" />

  <h3>Environment</h3>

  <p>Another area where big commercial gyms fail to deliver is in the training environment itself. You go to the gym to work hard and get results. Unfortunately, the training atmosphere at these places is usually just a random collection of people all doing their own thing and lost in their own world. The earbuds are in and the phones are out. </p>

  <p>At NLPT, you won’t see anybody using an iPod. And that’s not because there’s any rule against it. It just doesn’t occur to anyone here to bring one. The house stereo is always turned up and we’ve got an awesome community of like-minded people that are friendly, energetic and incredibly welcoming to new faces.</p>

  <blockquote>
    <p>"Everyone is really happy to see you every day at NLPT, really is a family."</p>
    <p>Lori C, 43</p>
  </blockquote>

  <h3>Constructing a workout</h3>

  <p>NLPT isn’t for everyone. We set the expectation level high and our clients train hard. But at the heart of our program, we believe in doing the basics -- doing them well and doing them often. We place a high emphasis on functional strength, high-intensity interval conditioning, mobility work and smart exercise selection.</p>

  <p>How do we actually organize our program? We take what’s called a movement-based approach.</p>

  <p>Squatting, deadlifting, pushing, pulling, single-leg stability, core stability and gait: at the end of the day, that’s all there is. These are the movements that all humans must perform in everyday life and are the foundation for nearly all of the exercises we do. Even for our elite athletes, we structure their programs around the movements they perform, which also happen to draw from the same palette of fundamental human movements. The challenge is choosing the best exercise for each individual.</p>

  <p>What if you don’t think you can deadlift or squat because of bad knees or a cranky back?</p>

  <p>Well, imagine two people on two different ends of the spectrum: a big strong athlete capable of a 400-pound squat and a poor old grandma who struggles to even stand up out of a chair.</p>

  <p>Just because these two people seem like polar opposites doesn't mean that they don't both need the ability to brace their spine, move their hips back, and lower their body weight up and down through space. These are fundamental movements that all humans should be capable of doing.</p>

  <p>When it comes down to working on the squat, the big, strong athlete might be fine to load up the barbell, whereas grandma might have to do some remedial core stability and hip mobility exercises before she progresses onto something more challenging. In our minds, they're both developing the skill of squatting. It is those differences in how we train and how we select the right progressions that are the keys to our system.</p>
  
  <blockquote>
    <p>"I love that there’s a plan of action to achieving my goals. The coaches pay attention and give feedback immediately."</p>
    <p>Trevor F, 39</p>
  </blockquote>
</section>

<section>
  <h1>Schedule</h1>

  <div class="nlpt-fit-schedule">
    <h4>Cambridge</h4>
    {{> "cambridge_fit_schedule"}}
    <h4>Stratford</h4>
    {{> "stratford_fit_schedule"}}
  </div>
</section>
<section>
  <h1>FAQ</h1>

  <h4>1. Are there any start-up or cancellation fees?</h4>
  <p>No, we like to keep it simple. Our membership is month-to-month. Cancel at any time.</p>

  <h4>2. This looks like a gym for serious athletes. What if I’ve never trained before?</h4>
  <p>Although we do like to train hard, you don’t need any experience to get started with us. A cornerstone of a any good training program is proper progression, and our system is designed to handle you if you’ve got years of training experience or if you're completely new to exercise.</p>

  <h4>3. What if I have a serious injury or pain that I’m dealing with?</h4>
  <p>We encourage you to still give us a call. It’s not uncommon for our coaches to have to make modifications to the program due to a client dealing with an injury. Unless it’s something really serious that prevents you from moving around, we’re pretty good at adjusting things so you can still get a workout.</p>

  <h4>4. Do you do testing or assessments?</h4>
  <p>Yes. As a new client, you will begin with a one-on-one meeting with a coach prior to starting to go over your goals, your health, any injuries you may have and your exercise history. You will undergo a movement screen to identify any areas where we may need to modify your program. We don’t do any rigorous testing on initial visits, however. We’d rather do a thorough assessment of your background first. Although if specific fitness testing is something you want to do, we can certainly do that. We hold reassessments every eight weeks.</p>

  <h4>5. Do you offer different pricing options if I can’t train five times a week?</h4>
  <p>We do not. Although we do have some clients that train with us every day, our program was originally designed (and priced) for people looking to workout three times per week. We think that three visits to the gym should be all that most people need to get the benefits they’re looking for.</p>

  <h4>6. What if I only want to work out one to two times per week?</h4>
  <p>We have a plan for you. Please see our membership options section below.</p>

  <h4>7. Are there showers and changing rooms available?</h4>
  <p>Our Cambridge location has both men and women’s changing rooms and showers. Our Stratford location is only equipped with changing rooms. To learn more about each facility, please click <a href="/facilities">here</a>.</p>
</section>
<section>

  <h1>Pricing and sign-up</h1>

  <p>Unlike most gyms, there are no long-term contracts, sign-up fees, or cancellation policies. You don't like it? Just cancel any time.</p>

  <div class="pricing-table row clearfix">
    <div class="col-xs-3">
      <h4 class="option-name">Monthly Membership</h4>
      <h5 class="heading">$129 <span>per month</span></h5>
      <h5 class="heading">Features</h5>
      <p class="text">Unlimited sessions per week</p>
      <p class="text">Attend any session any time</p>
      <p class="text">Free enrollment in Fit Cup Challenge</p>
      <h5 class="heading">Perfect for</h5>
      <p class="text">Anyone looking for consistent and structured training.</p>
    </div>

    <div class="col-xs-3 col-xs-offset-1">
      <h4 class="option-name">Flex Pack</h4>
      <h5 class="heading">$200 for 8-session pack</h5>
      <h5 class="heading">Features</h5>
      <p class="text">Attend any session any time</p>
      <p class="text">Never expires</p>
      <h5 class="heading">Perfect for</h5>
      <p class="text">Adults who already have an active schedule and want to supplement their activities with training less than 2 times per week.</p>
    </div>

    <div class="col-xs-3 col-xs-offset-1">
      <h4 class="option-name">Evenings only</h4>
      <h5 class="heading">$120 for 8-session pack</h5>
      <h5 class="heading">Features</h5>
      <p class="text">8 sessions which can be used any time</p>
      <p class="text">Never expires</p>
      <h5 class="heading">Perfect for</h5>
      <p class="text">Anyone that works late or whose schedule only permits our 7:30pm time</p>
    </div>
  </div>
</section>
<section>
  <h1>Day Fit Program <small>(Cambridge only)</small></h1>
  <p>NLPT Day Fit is a spin-off program from NLPTfit. While the training philosophy is still the same, it features a different schedule and program structure.</p>
  <p>Unline NLPTfit, NLPT Day Fit is not a monthly membership. Instead it is an 8-week program that runs 3-days per week on Monday, Wednesday, and Friday from 9:30am-10:30am, making it perfect for the stay-at-home parent or someone with a more flexible work schedule.</p>
  <p>Each session is split into three 20-minute blocks of mobility, strength, and cardio. Giving you a balanced blend of all the elements of NLPTfit.</p>
  <p>The cost for the program is $259 for an 8-week block (start any time) or is free for regulary NLPTfit members.</p>
</section>
