{{!< default}}

<h1 class="page-header">Podcast</h1>

<section>
  <div class="row">
    <div class="col-sm-4">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322273925&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col-sm-8">
      <h3>#1 - HP2017 Week 1: What's the goal for the first week?</h3>
      <p>In this first episode of the NLPT Podcast, we get into who the podcast is for, why we're doing it, and what we hope you, the athlete, can get out of it.</p>
      <p>We review the first week of our High Performance Hockey program and discuss what the goal for the first week of any training program should be about.</p>
    </div>
  </div>
</section>