{{!< default}}

<h1 class="page-header">Testimonials</h1>

  <section>
  <p>"NLPT is like a second home and family to me. The level of intensity is through the roof, but still having some laughs along the way—the perfect combination."</p>
  <p>Zach K, 16</p>
  </section>

  <section>
  <p>"Within 2 weeks of being a part of NLPT I finally understood what it meant to have fitness, health and nutrition as a major theme in my life."</p>
  <p>Lisa M, 49</p>
  </section>

  <section>
  <p>"You can be independent in your own program but still receive help if needed. I love it and I’m not going anywhere for a long time."</p>
  <p>Rachel T, 14</p>
  </section>

  <section>
  <p>"I have coached many hockey teams in Waterloo Region the past four decades and have been associated with NLPT group since their early days in Kitchener. I am a strong supporter in what NLPT has to offer, its location, first class facilities and the instructors are top notch -- they are that good."</p>
  <p>Fred Gregory, Head Coach, Cambridge Roadrunners Midget AA</p>
  </section>

  <section>
  <p>"Everyone is really happy to see you every day at NLPT, really is a family."</p>
  <p>Lori C, 43</p>
  </section>

  <section>
  <p>"When I first heard Andrew and Eric talk about their NLPTfamily I thought it was just talk.  I was completely wrong.  These guys genuinely care about their teams and their athletes."</p>
  <p>Geoff Haddaway, Head Coach, Cambridge Rivulettes</p>
  </section>

  <section>
  <p>"Everyone in here really helps you to elevate your game. Each athlete that trains here just wants to get better, and you see that, which internally drives you."</p>
  <p>Scott S, 21</p>
  </section>

  <section>
  <p>"I love that there’s a plan of action to achieving my goals. The coaches pay attention and give feedback immediately."</p>
  <p>Trevor F, 39</p>
  </section>

  <section>
  <p>"Great programs and coaching, this is the strongest I have ever been."</p>
  <p>Taylor D, 23</p>
  </section>

