{{!< default}}

      <h1 class="page-header">NLPT's Fit Cup</h1>
      <figure class="img-right-50">
        <img src="/assets/images/fc3-1.jpg">
        <figcaption>Team Stratford Celebrating their Fit Cup 3 win!</figcaption>
      </figure>
      <p>The NLPT Fit Cup a behaviour-based fitness competition program that has helped over 100 people jump start their weight loss, fitness and wellness goals. This team-oriented challenge uses the power of accountability to help you reshape your nutrition habits, push you physically, and help you achieve the results you've been looking for. All programs are individualized to address specific needs, and training sessions are done in an energetic and inspirational setting with your NLPT coaches.</p>

      <h3>How does it work?</h3>

      <p>Points are assigned to you (and your team) for adhering to regular training and sound nutrition habits. The team who has the most points at the end of the eight-week challenge is crowned the NLPT Fit Cup Champion!</p>

      <h3>What makes the Fit Cup different?</h3>

      <p>The Fit Cup is different than most other fitness challenges out there because it revolves around developing sound and long-lasting fitness and nutrition habits, NOT around how much weight you lose. Certainly, if you follow the habits we suggest, you will lose weight and feel better, but the real objective of this challenge is to create lasting change. The Fit Cup is very inspirational and team oriented. You are a part of a bigger group who is working towards a common goal, which is always amazing!</p>

      <h3>What are some other features of the Fit Cup that I don't get in the normal NLPTfit Membership?</h3>

      <ul>
        <li>Professional "after" pictures</li>
        <li>Nutrition adherence and accountability</li>
        <li>Team challenges and prizes</li>
        <li>And everything that you already receive with the NLPT Fit Programming (including unlimited coaching, assessment, program design, etc.)</li>
      </ul>
      <h3>When is the next Fit Cup?</h3>
      <p>We're currently between Fit Cups, but will be starting Fit Cup 5 in September 2017.</p>

{{!--       <h1 class="page-header">Fit Cup 4 Details</h1>
      <img src="/assets/images/FC4-white.png" />
      <h3>Important Dates</h3>
      <p>Pre Fit Cup program: November 21 - December 23, 2016</p>
      <p>This is an attendance-based program that is designed to get you accustomed to the training side of the Fit Cup. During this 5 week period, we will be tracking the attendance of everyone in our NLPTfit program. At the end of the 5 weeks, the top 3 fitters at each facility will receive a small prize.</p>
      <ul>
        <li>Scoring start date: Monday, January 2, 2017</li>
        <li>Initial testing event: Saturday, January 7, 2017</li>
        <li>Scoring finish date: Friday, February 24, 2017</li>
        <li>Final testing event: Saturday, February 25, 2017</li>
        <li>Fit Cup Party: Saturday, March 4, 2017</li>
      </ul>


      <h3>Scoring Structure</h3>
      <b>Nutrition</b>


      <p>We've carefully selected four simple habits that we think are important for everyone to master as a foundation for good daily nutrition. In addition to these habits, there is also a weekly alcoholic drink deduction.</p>


      <p>You’ll be awarded points based on how well you adhere to those habits. Each day carries the potential to earn four nutrition points--one for each of the habits. If you stick to two, but let the other two slip, that’s two points for the day. Points are tallied each week for a total score out of a possible 28 points. </p>


      <b>Training</b>


      <p>You also earn points by training! And scoring is very simple here:</p>
      <ul>  
        <li>1 workout at NLPT = 5 points</li>
        <li>4+ NLPT workouts in one week = bonus 5 points</li>
      </ul>


      <p>This means there are a maximum of 35 points per week up for grabs (6 days open x 5 points, + 5 bonus points).</p>

      <b>Adding them up</b>

      <p>At the end of each week we add up your nutrition and training points and put them towards your team total. The team with the most points at the end of the 8 weeks is crowned the Fit Cup champion!</p>


      <h3>How much does the Fit Cup cost?</h3>
      <p>For current NLPTfit clients, it's free! For non-members the cost is $359 to enroll.</p>
    </div>
 --}}  </div>
</div>
