{{!< default}}
      <h1 class="page-header">Programs</h1>
      <section>
      {{> "nav_programs"}}
      </section>
      <section>
        <h2>What sets NLPT apart?</h2>
        <p>NLPT is the gym for a truly individualized training experience.</p>

        <p>Whether you're a high-performing athlete or have been dealing with chronic pain and want to get back in shape, NLPT has you taken care of.</p>


        <p>Our coaches have a wealth of athletic and coaching experience and are some of the most educated and well-qualified trainers around. Between our staff, we have:</p>

        <ul>
          <li>2 Registered Kinesiologists</li>
          <li>1 Registered Massage Therapist</li>
          <li>5 University degrees in Kinesiology</li>
          <li>2 Master of Science degrees in Rehabilitation and Human Physiology</li>
          <li>2 College Diplomas in Health and Fitness Promotion</li>
          <li>2 Master of Science degrees in Rehabilitation and Human Physiology</li>
          <li>2 Certified Strength and Conditioning Specialist certifications.</li>
        </ul>
        <p>We've worked with young athletes as young as 9 and clients as old as 90. The reason that so many people have found success with our system is because we design each of our programs to meet the needs of the individual. Every new client undergoes an extensive initial assessment that includes a medical and health history, training and sport background, movement assessment, and if applicable, specific performance testing.</p>

        <p>There are three unique training programs that make up NLPT: NLPTathlete, NLPTfit, and NLPTteam. Click on the tab above that you fit into, and read more about one of the best gyms in Ontario.</p>
      </section>
