{{!< default}}

      <h1 class="page-header">Youth Development Program</h1>

      <p>Athletes between the ages of 10 to 13 fall into our Youth Development Program category. While these young athletes still get treated the same as any other athlete at NLPT, we approach their programming with a slightly different philosophy than our older clientele.</p>
      <img class="img-center-75" src="/assets/images/content-image-10.jpg">
      <section>
      <h1>Program philosophy</h1>
      <h4>Young athlete’s are not mini-adults</h4>

      <p>We don’t believe that young athletes should “train like the pro’s.” Call us crazy, but we believe kids should train like kids. This means starting with the fundamentals, keeping the exercises interesting, and educating the athlete about their body, how it moves, and how to train.</p>

      <h4>Quality first</h4>

      <p>This is not the age to be overly focused on immediate outcomes. It’s all about quality. We emphasize proper mechanics and technique above anything else at this age. Success in athletics, as in many things in life, comes by being consistent for a long period of time. These young athletes are at the beginning of their journey, and we believe it should start by learning to do the basics, and learning them well.</p>

      <h4>Global approach</h4>

      <p>Strength and speed are the common athletic traits most people think of when they imagine great athleticism. But there are other athletic qualities that must be developed at this very special age that many coaches neglect. For example: balance, rhythm, coordination, spatial awareness, and reactiveness are all important athletic qualities that should play a big role in the program of a young athlete.</p>

      <h4>Attentiveness</h4>

      <p>Athletes that simply go through the motions are wasting their time. With our youth program, we emphasize drills and exercises that require their full attention in order to be performed correctly. The purpose behind this is to facilitate the motor learning process, which requires purposeful movement. Mindless reps are soon forgotten.</p>

      <h4>Accountability</h4>

      <p>We’ve discovered that when put in the right environment, many young athletes are capable of a lot more responsibility than they’re given credit for. We don’t hold anyone’s hand and we don’t babysit. While we try to keep a friendly atmosphere in the gym, we make it very clear to all athletes that they’re here to train. ALL athletes are expected to show up on time, begin their warm-up on their own, stay on task, be respectful, and put all equipment away.</p>
      </section>
      <section>

      <img class="img-right-50" src="/assets/images/content-image-7-youth.jpg">
      <h1>Youth Program FAQ</h1>

      <p><em>"Are they going to be lifting weights?"</em></p>

      <p>Parents that ask this question usually have an image in their mind of either a barbell on their child’s back or a set of heavy dumbbells in their hand. To this image, the answer is no. However, that’s not to say that we won’t apply load to the body. Application of load or stress is what tells the body to grow, so naturally we have to do something to create this response. We prefer to apply this load with the use of bodyweight exercises at this stage in their development. Although we will sometimes use light weights as a tool to help us safely achieve this goal.</p>

      <p><em>"I have a daughter, is there a girls program she can enroll in?"</em></p>

      <p>No. We have a lot of female athletes at NLPT and everyone trains together.</p>

      <p><em>"Do you do (insert sport of choice here) specific training?"</em></p>

      <p>Not at this age. We don’t create specialized training programs for any particular sport at this stage in their development. That is something that comes much later. At this age, we feel that all athletes should be working on their overall athleticism and learning to perform the basics well. However, because most sports have more commonalities than differences, the chances are that their performance will improve as a result of the training. So in that sense, the answer is yes! Any form of training that improves performance is considered sport-specific. It just so happens that the same form of training can improve performance in a multitude of sports.</p>

      <p><em>"How often should my kid train?"</em></p>

      <p>We have options for 2 or 3 times per week in our program. However, for newer trainees, we have found that great results can be achieved with as little as 2 sessions per week.</p>

      <p><em>"My kid needs to get faster."</em></p>

      <p>Among other things. As described above, there are a lot of athletic qualities we’ll be working on with your son or daughter. Speed will come as a result of them getting stronger (they’ll be able to push harder into the ground), and improving their mechanics (they’ll be more efficient in their movement).</p>
      </section>
      <section>

      <h1>Youth Pricing and enrollment</h1>

      <p>The next installment of our Youth Development Program will begin in January 2017 and be held at our Cambridge facility. The training program will be divided into three separate blocks and you are free to participate in one or all three of them.</p>
      <h4>Schedule</h4>
      <p><b>Block 1</b></p>
      <ul>
        <li>Dates: Jan 9 - Mar 2</li>
        <li>Training times: Mon 7pm-8pm, Wed 6:30pm-7:30pm</li>
      </ul>
      <p><b>Block 2</b></p>
      <ul>
        <li>Dates: Mar 6 - Apr 28</li>
        <li>Training times: Mon 6:30pm-7:30pm, Wed 6:30pm-7:30pm</li>
      </ul>
      <p><b>Block 3</b></p>
      <ul>
        <li>Dates: May 1 - June 21</li>
        <li>Training times: Mon 6:30pm-7:30pm, Wed 6:30pm-7:30pm</li>
      </ul>
      <h4>Pricing</h4>
      <ul>
        <li>Any 1 block of training: $200 + HST</li>
        <li>Any 2 blocks of training: $350 + HST</li>
        <li>All 3 blocks of training: $475 + HST</li>
      </ul>
      <p> </p>
      <p>If you would like to get enrolled, please send an email to <a href="mailto:info@mynlpt.com">info@mynlpt.com</a></p>
      </section>
{{> "contact_bar"}}