{{!< default}}

      <h1 class="page-header">About NLPT</h1>

      <img src="/assets/images/membership.jpg" />
      {{> "about_nav"}}

      <p>We are a small gym. We have no investors. No partners. No sponsors. And we’re very proud of that. With locations in Cambridge and Stratford, we've been serving the greater Waterloo Region since 2008.</p>

      <p>We believe in creating an intimate, hard-working training atmosphere where everyone gets the attention they need. We believe in providing top-notch coaching and program design. And we believe that in order to stay healthy and get the best results, training needs to be customized to the individual.</p>

      <p>Beyone the X's and O's of training, we’re also an incredibly family-oriented gym. We have a small, close-knit staff that has a lot history together. Many of the coaches are even former NLPT athletes who developed a passion for coaching and are now a part of our staff, grooming along the next wave of young athletes.</p>

      <p>Thank you for taking some time to learn more about our gym.</p>

      <p class="signature">NLPT Family</p>

