{{!< default}}
  <h1 class="page-header">Contact</h1>

  <h3>Phone</h3>
  <p>(519) 620-9898</p>
  <h3>Email</h3>
  <p>info@mynlpt.com</p>
  <h3>Send us a message directly</h3>
  <p>Have a program inquiry? Question about our hours? Looking to book a massage? Submit your message below and someone will be in touch with you shortly.</p>
       {{> "contact_form"}}
    </div>
  </div>
</div>


