{{!< default}}
<h1 class="page-header">Football High Performance Program</h1>
<p>Getting to the next level of football requires dedication, comittment, and a level of work that goes far beyond basic training during the off-season. The elite, both north and south of the border, commit themselves to highly specialized year-round training programs that prepare them for the rigors of the game. Missing out on 4-6 months of training during the competitive season is simply not an option for those who aspire to be an elite football player.</p>

<p>NLPT has created an in season customized football program for athletes of the Bantam, Junior Varsity, and Varsity age groups designed to optimize both short and long-term performance and provide athletes with the advanced lifting techniques (Olympic Lifting) that are expected at ANY COLLEGIATE PROGRAM.</p>
<h2 class="text-center">Program details</h2>
<img src="/assets/images/football.jpg" class="img-right-50" />

<h3>Location</h3>

<p class="no-margin">NLPT Cambridge</p>
<p class="no-margin">460 Thompson Dr.</p>
<p>Cambridge, ON</p>

<h3>Dates and times</h3>

<p>September 19 - Nov 26th, 2017</p>

<h5>Bantams (2 sessions per week)</h5>
<p class="no-margin">Tues @ 730pm </p>
<p class="no-margin">Sunday @ 10am</p>

<h5>Junior Varsity/Varsity (3 sessions / week)</h5>
<p class="no-margin">Tuesday @ 830pm </p>
<p class="no-margin">Saturday @ 10am</p>
<p class="no-margin">Sunday @ 11am</p>
<small>*Saturday will be OLY Lift Teaching Day</small>

<h3>Cost</h3>
<p class="no-margin">Bantam: $359 + HST</p>
<p class="no-margin">JV/Varsity: $499 + HST</p>

<p class="no-margin"><small>*All athletes will receive NLPT T-Shirt</small></p>
<p class="no-margin"><small>** Athletes will get 15% off NLPT Supplements</small></p>
<h3>Register</h3>
<p>To sign-up please send us an email at <a href="mailto:info@mynlpt.com?subject=Football Training">info@mynlpt.com</a> and we will reserve your spot in the program.</p>
<p>Late registrations will be prorated to the start date.</p>
