{{!< default}}
  <h1 class="page-header">NLPT Athlete</h1>
  <img class="img-right-50" src="/assets/images/content-image-1.jpg">
  <p>For athletes in the Cambridge, Kitchener and Waterloo area, there is no better environment to train in than NLPT. Our intimate, and hard-working atmosphere creates an environment that simply can not be replicated in your typical “gym”.</p>

  <p>You’ll also find that our coaches are some of the most experienced and knowledgeable in the area. Aside from their athletic and academic accomplishments (see <a href="/staff/">staff page</a>), they believe in setting a good example for all athletes by preaching hard-work, accountability, and consistency both in and out of the gym.</p>


  <p>NLPTathlete is a fully-individualized training system designed to match the needs of both the athlete and the athlete’s sport.</p>
  <p>Each new athlete begins with an assessment and movement screen in order to give coaches an idea exactly where the athlete stands and how the training process should begin.</p>

  <blockquote>
    <p>"Everyone in here really helps you to elevate your game. Each athlete that trains here just wants to get better, and you see that, which internally drives you."</p>
    <p>Scott S, 21</p>
  </blockquote>
  <section>
    <h1>Program philosophy</h1>

    <h3>Programming</h3>

    <img class="img-right-25" src="/assets/images/content-image-2.jpg">
    
    <p>All programs are designed with considerations for the athlete's, age, specific training goals, injury history, physical capabilities and playing schedules. We believe in teaching the core fundamentals of training and building athletic skills in a systematic and age-appropriate way. Our programs are comprehensive and balanced, emphasizing movement skills, speed and power training, strength development, and energy system work all while making sure the athlete is training safely and responsibly.</p>

    <h3>Environment</h3>

    <p>Many of our athletes and families have told us that our programming methodology goes much beyond a simple workout plan. As coaches, we see it as our responsibility not only write a good program, but create the right environment where that program's potential can be fulfilled. The training environment at NLPT is one of accountability, hard work, fun and getting results.</p>

    <h3>Coaching</h3>

    <p>NLPT boasts the most experienced and educated coaching staff in the region. All of our coaches have pursued either kinesiology, human kinetics, or fitness and health degrees at the post-secondary level and beyond. They are fully certified and have lengthy athletic credentials to their name.</p>
    <p>But beyond their expertise, our coaching staff invests an incredible amount of care and attention into athlete at the gym. The #NLPTfamily is more than just a hashtag, it’s a core principle of our gym.</p>

    <blockquote>
      <p>"You can be independent in your own program but still receive help if needed. I love it and I’m not going anywhere for a long time."</p>
      <p>Rachel T, 14</p>
    </blockquote>
  </section>
  <section>
    <h1>Pricing and enrollment</h1>
    <div class="row">

      <div class="col-sm-4 quick-info">
        <h3 class="header">Silver</h3>
        <h4>$89 <span>per month</h4>
        <p><b>Features</b></p>
        <p class="text">1 session per week</p>
        <br>
        <p><b>Perfect for</b></p>
        <p class="text">In-season athletes who are older than 14 and have highly demanding schedules.</p>
      </div>

      <div class="col-sm-4 quick-info">
        <h3 class="header">Gold</h3>
        <h4>$159 <span>per month</span></h4>
        <p><b>Features</b></p>
        <p class="text">2 sessions per week</p>
        <br>
        <p><b>Perfect for</b></p>
        <p class="text">Younger athletes (under 14) who are newer to training. This option works well at any time of the year.</p>
      </div>

      <div class="col-sm-4 quick-info">
        <h3 class="header">Platinum</h3>
        <h4>$219 <span>per month</h4>
        <p><b>Features</b></p>
        <p class="text">3 sessions per week</p>
        <br>
        <p><b>Perfect for</b></p>
        <p class="text">Off-season training or if the athlete has a lighter competitive schedule.</p>
      </div>
    </div>

    <blockquote>
      <p>"NLPT is like a second home and family to me. The level of intensity is through the roof, but still having some laughs along the way—the perfect combination."</p>
      <p>Zach K, 16</p>
    </blockquote>

  </section>
{{> "contact_bar"}}