{{!< default}}
<h1 class="page-header">Blog</h1>
<div class="main-blog row">
  <div class="col-xs-8"> 
    {{> "blog_loop"}}
  </div>
  <div class="col-xs-4">
  {{> "tag-loop"}}
  {{> "archive-loop"}}
  </div>
</div>
