{{!< default}}

<h1 class="page-header">In-Season Performance Consulting</h1>

<p>The off-season is coming to an end, and all of the hard work you put in is about to pay off. While the start of hockey season means a shift in focus from training to performance, one of the biggest mistakes we see hockey players make is totally abandoning the training process.</p>

<p>And we get it.</p>

<img src="/assets/images/assess.jpg" class="img-right-40" />

<p>The average hockey player has a packed schedule. Between school, practice, and weekend games…where’s the opportunity to train? Where’s the time? The energy? Looking at the whole picture, it makes more sense just to focus on playing and pick things up next April when things calm down.</p>

But as we’ve always said, the season represents the largest training window of the year. And a well-designed <p>program can give you a tremendous advantage. Not only will you continue to get stronger, faster, and better conditioned, but it will help protect against the wear and tear of the season that usually leads to injury.</p>

<blockquote>
  <p>But won’t more training interfere with my ability to recover and play at my best?</p>
</blockquote>

Only if you do it incorrectly! A good in-season training session should leave you feeling refreshed and energized. <p>Typically, we spend a little more attention on mobility, core and stability work, and the strength training we do is a bit less stressful than what we normally do during the summer. A well-planed training program should enhance and support your sport performance, not take away from it. </p>

<blockquote>
  <p>But I just don’t have time to get to the gym.</p>
</blockquote>

Over the years, we’ve had many athletes want to continue the training process, but due to their schedule, they just <p>couldn’t find the time to get to the gym. A few fortunate players are able to make it to NLPT a few times a week to stay on top of things, but for the many others, that’s just not a reality. That’s what this program is all about.</p>

<h3>In-season Performance Consulting</h3>

<p>With this option, you only have to make it to NLPT once per month. During that session, we’ll assess your strengths and weaknesses and create a customized program that fits not only your athletic profile, but your schedule and accessibility to a gym.</p>

<p>Work out at school? … YMCA? … Don’t have a gym?</p>

No problem. Good programming is as much a practice in creativity as it is science. No matter what your <p>accessibility to equipment, there’s no excuse not to be productive with your time and take care of your body.</p>

<p>After a month, you’ll schedule another session with a coach, who will then review the past month, reassess, and write a new program for you for the next month.</p>

<img src="/assets/images/Gilhula1.jpeg" class="img-right-40" />
<h3>Details</h3>

<p>Here are the details of the In-Season Performance Consulting program:</p>
<ul>
  <li>One monthly session at NLPT for assessment and program review</li>
  <li>One 4-week custom training program</li>
  <li>Unlimited email / phone support to answer any questions</li>
</ul>

<h3>Cost</h3>

<p>$79 + HST per month</p>

<h3>How to get started</h3>

<p>Just speak with an NLPT coach or send an email to info@mynlpt.com and express interest in getting enrolled.</p>