{{!< default}}

<img class="img-center-50" src="/assets/images/70day.png" />
  <h2 class="text-center">Final Team Challenge</h2>
  <p>Each team must complete 1000 squats, 500 push-ups, and do 30-minutes of front planking between Friday, Dec 15th and Tuesday, Dec 19th. All numbers must be submitted by the end of Tuesday. Teams that do not complete it will be penalized 50 points.</p>

  <div class="alert alert-warning">
    Last updated: Dec 20th at 1pm
  </div>
  <table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>Squats (1000)</th>
      <th>Push-ups (500)</th>
      <th>Front plank (30 min)</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h5>The Dirty Pirate Hookers</h5>
        <p>Sharon H</p>
        <p>Julie B</p>
        <p>Clay L</p>
        <p>Teri L</p>
      </td>
      <td>
        <h5>1000</h5>
        <p>250</p>
        <p>260</p>
        <p>190</p>
        <p>300</p>
      </td>
      <td>
        <h5>500</h5>
        <p>150</p>
        <p>120</p>
        <p>140</p>
        <p>90</p>
      </td>
      <td>
        <h5>32</h5>
        <p>9</p>
        <p>9</p>
        <p>2</p>
        <p>12</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>CLPT</h5>
        <p>Peter H</p>
        <p>Lyndsay L</p>
        <p>Christina H</p>
        <p>Tracy M</p>
      </td>
      <td>
        <h5>1010</h5>
        <p>240</p>
        <p>240</p>
        <p>280</p>
        <p>250</p>
      </td>
      <td>
        <h5>500</h5>
        <p>170</p>
        <p>120</p>
        <p>60</p>
        <p>150</p>
      </td>
      <td>
        <h5>36</h5>
        <p>11</p>
        <p>7</p>
        <p>7</p>
        <p>11</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Team Ass Bike</h5>
        <p>Jess C</p>
        <p>Rebekah S</p>
        <p>James H</p>
        <p>Eric H</p>
        <p>Justin L</p>
      </td>
      <td>
        <h5>1130</h5>
        <p>280</p>
        <p>300</p>
        <p>0</p>
        <p>250</p>
        <p>300</p>
      </td>
      <td>
        <h5>500</h5>
        <p>50</p>
        <p>100</p>
        <p>0</p>
        <p>210</p>
        <p>140</p>
      </td>
      <td>
        <h5>34</h5>
        <p>5</p>
        <p>10</p>
        <p>0</p>
        <p>11</p>
        <p>8</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Weapons of Mass Destruction</h5>
        <p>Ashley N</p>
        <p>Kate H</p>
        <p>Guyanne S</p>
        <p>Cheri A</p>
      </td>
      <td>
        <h5>1214</h5>
        <p>300</p>
        <p>0</p>
        <p>424</p>
        <p>490</p>
      </td>
      <td>
        <h5>530</h5>
        <p>150</p>
        <p>0</p>
        <p>230</p>
        <p>150</p>
      </td>
      <td>
        <h5>32</h5>
        <p>10</p>
        <p>0</p>
        <p>12</p>
        <p>10</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Gym Class Heroes</h5>
        <p>Anne C</p>
        <p>Holly J</p>
        <p>Shonnon L</p>
        <p>Elsa F</p>
      </td>
      <td>
        <h5>1000</h5>
        <p>270</p>
        <p>150</p>
        <p>170</p>
        <p>410</p>
      </td>
      <td>
        <h5>500</h5>
        <p>187</p>
        <p>0</p>
        <p>130</p>
        <p>183</p>
      </td>
      <td>
        <h5>30</h5>
        <p>7</p>
        <p>0</p>
        <p>2.5</p>
        <p>20.5</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>CERTIFIED Glutes</h5>
        <p>Linda C</p>
        <p>Terri G</p>
        <p>Lorraine B</p>
        <p>Shannon S</p>
      </td>
      <td>
        <h5>1000</h5>
        <p>174</p>
        <p>265</p>
        <p>261</p>
        <p>300</p>
      </td>
      <td>
        <h5>500</h5>
        <p>75</p>
        <p>155</p>
        <p>190</p>
        <p>80</p>
      </td>
      <td>
        <h5>30</h5>
        <p>7</p>
        <p>13</p>
        <p>2.5</p>
        <p>7.5</p>
      </td>

      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Buns N' Roses</h5>
        <p>Jodilynn T</p>
        <p>Diana P</p>
        <p>Lisa M</p>
        <p>Laurie J</p>
      </td>
      <td>
        <h5>1000</h5>
        <p>350</p>
        <p>400</p>
        <p>0</p>
        <p>250</p>
      </td>
      <td>
        <h5>520</h5>
        <p>155</p>
        <p>160</p>
        <p>80</p>
        <p>125</p>
      </td>
      <td>
        <h5>30</h5>
        <p>7</p>
        <p>13</p>
        <p>2.5</p>
        <p>7.5</p>
      </td>

      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Blood, Sweat, and Beers</h5>
        <p>Ronda P</p>
        <p>Maggie S</p>
        <p>Tara P</p>
        <p>Dylan C</p>
      </td>
      <td>
        <h5>1000</h5>
        <p>100</p>
        <p>400</p>
        <p>250</p>
        <p>250</p>
      </td>
      <td>
        <h5>510</h5>
        <p>0</p>
        <p>0</p>
        <p>190</p>
        <p>320</p>
      </td>
      <td>
        <h5>30</h5>
        <p>8</p>
        <p>4</p>
        <p>4</p>
        <p>14</p>
      </td>

      <td class="fa fa-check fa-lg"></td>
    </tr>
    <tr>
      <td>
        <h5>Misson: Slim-possible</h5>
        <p>Marlene A</p>
        <p>Hillary M</p>
        <p>Juliet E</p>
        <p>Sheri G</p>
      </td>
      <td>
        <h5>1085</h5>
        <p>315</p>
        <p>260</p>
        <p>250</p>
        <p>260</p>
      </td>
      <td>
        <h5>515</h5>
        <p>185</p>
        <p>15</p>
        <p>145</p>
        <p>170</p>
      </td>
      <td>
        <h5>32</h5>
        <p>7.5</p>
        <p>8</p>
        <p>9</p>
        <p>7.5</p>
      </td>
      <td class="fa fa-check fa-lg"></td>
    </tr>
    </tbody>
  </table>

<hr>
<div> 
  <h2 class="text-center">Scoreboard</h2>
  <table class="table table-small-text table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>W1</th>
      <th>W2</th>
      <th>W3</th>
      <th>W4</th>
      <th>W5</th>
      <th>W6</th>
      <th>W7</th>
      <th>W8</th>
      <th>W9</th>
      <th>W10</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h5>The Dirty Pirate Hookers</h5>
      </td>
      <td>122</td>
      <td>87</td>
      <td>122</td>
      <td>102</td>
      <td>105</td>
      <td>123</td>
      <td>97</td>
      <td>102</td>
      <td>112</td>
      <td>142</td>
      <td>1284</td>
    </tr>
    <tr>
      <td>
        <h5>CLPT</h5>
      </td>
      <td>118</td>
      <td>84</td>
      <td>104</td>
      <td>115</td>
      <td>104</td>
      <td>114</td>
      <td>114</td>
      <td>102</td>
      <td>107</td>
      <td>126</td>
      <td>1278</td>
    </tr>
    <tr>
      <td>
        <h5>Team Ass Bike</h5>
      </td>
      <td>111</td>
      <td>77</td>
      <td>92</td>
      <td>93</td>
      <td>62</td>
      <td>110</td>
      <td>116</td>
      <td>100</td>
      <td>113</td>
      <td>128</td>
      <td>1172</td>
    </tr>
    <tr>
      <td>
        <h5>Weapons of Mass Destruction</h5>
      </td>
      <td>94</td>
      <td>40</td>
      <td>60</td>
      <td>70</td>
      <td>53</td>
      <td>65</td>
      <td>34</td>
      <td>34</td>
      <td>58</td>
      <td>43</td>
      <td>671</td>
    </tr>
    <tr>
      <td>
        <h5>Gym Class Heroes</h5>
      </td>
      <td>85</td>
      <td>81</td>
      <td>100</td>
      <td>120</td>
      <td>85</td>
      <td>81</td>
      <td>77</td>
      <td>90</td>
      <td>71</td>
      <td>102</td>
      <td>1056</td>
    </tr>
    <tr>
      <td>
        <h5>CERTIFIED Glutes</h5>
      </td>
      <td>130</td>
      <td>113</td>
      <td>108</td>
      <td>81</td>
      <td>91</td>
      <td>79</td>
      <td>82</td>
      <td>76</td>
      <td>90</td>
      <td>59</td>
      <td>1099</td>
    </tr>
    <tr>
      <td>
        <h5>Buns N' Roses</h5>
      </td>
      <td>102</td>
      <td>90</td>
      <td>77</td>
      <td>81</td>
      <td>86</td>
      <td>64</td>
      <td>81</td>
      <td>94</td>
      <td>90</td>
      <td>89</td>
      <td>984</td>
    </tr>
    <tr>
      <td>
        <h5>Blood, Sweat, and Beers</h5>
      </td>
      <td>85</td>
      <td>77</td>
      <td>94</td>
      <td>89</td>
      <td>70</td>
      <td>77</td>
      <td>64</td>
      <td>73</td>
      <td>74</td>
      <td>55</td>
      <td>928</td>
    </tr>
    <tr>
      <td>
        <h5>Misson: Slim-possible</h5>
      </td>
      <td>135</td>
      <td>112</td>
      <td>104</td>
      <td>91</td>
      <td>113</td>
      <td>95</td>
      <td>101</td>
      <td>99</td>
      <td>95</td>
      <td>101</td>
      <td>1226</td>
    </tr>
  </table>
</div>

<hr>

<h3>What is it?</h3>

<p>The 70 Day Challenge is a 10-week fitness, nutrition, and health program where you receive daily challenges, tasks, habits, and workouts from the coaches of NLPT. Score points by completing as many daily tasks as possible, report back in with the coaches, compete with others in the program, and have one of the most challenging yet rewarding periods of training that you've had in years.</p>

<img class="img-right-50" src="/assets/images/fitness-3.jpg" />

<h3>What benefits can you expect from this program?</h3>

<p>What you take from this program depends on who you are, what your experience level is, and what your goals are.</p>

<p>Maybe you've struggled with consistency in the past and need a kick in the butt to get back on the right path.</p>

<p>Maybe you're tired of your same old routine and just want to shake things up with something different.</p>

<p>Maybe you've got a certain fitness or weight loss goal you hope to achieve during this time.</p>

<p>Or maybe you're aware of the looming holiday season, and want to stay ahead of the parties, pastries, and beverages that are coming your way.</p>

<h3>Who is it for?</h3>

<p>You don't have to be advanced or experienced to participate! This program is for anyone 18 and older and who is relatively healthy enough to complete an intense fitness program. If you're unsure if this is a good fit for you, please <a href="mailto:info@mynlpt.com">contact</a> us, and we'd be happy to discuss it with you.</p>


<h3>What is included?</h3>

<img class="img-right-60" src="/assets/images/teambuildr_screenshot.png" />
<p>As a participant in the program, you'll receive:</p>
<ul>
  <li>Use of our Teambuildr software system (web/iPad/mobile apps available), which we will use to deliver the daily challenges and which you will use to report in to us.</li>
  <li>10-week training program designed by NLPT and customized for your ability level</li>
  <li>Access to NLPT training facilities (if not currently a member)</li>
  <li>NLPT 70 Day Challenge t-shirt</li>
</ul>

<h3>How does it work?</h3>

<p>Participants will be organized into teams of 4. By completing each daily challenge, you'll score points for your team. Team are allowed to self-organize, so if you want to compete with your friends, just put in a request. Bonus points will also be available throughout the competition for completing other challenges such as:</p>
<ul>
  <li>Most workouts completed in a 7 day period.</li>
  <li>Best performance on a specific fitness test.</li>
  <li>Best adherance to a nutrition habit</li>
  <li>Most creative new recipe</li>
</ul>

<h3>Dates and scheduling</h3>

<h5>Dates</h5>
<p class="no-margin">Registration deadline: Saturday October 7th, 2017</p>
<p class="no-margin">Program start: Tuesday, October 10, 2017</p>
<p class="no-margin">Program end: Friday, December 22, 2017</p>

<h3>Cost</h3>

<p class="no-margin">NLPT members: $50</p>
<p class="no-margin">non-NLPT members: $349</p>
<p class="no-margin">Team registration fee (all 4 must be non-Members): $1200</p>

<h3>Registration</h3>
<p>To sign-up, please email us at <a href="mailto:info@mynlpt.com">info@mynlpt.com</a> and we will be in touch with you about finilizing your registration.</p>

<img src="/assets/images/strongestloser2.jpg" />
