{{!< default}}

<h1 class="page-header">Staff</h1>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Andrew Hopf, MSc, CSCS</h4>
    <h5 class="text-muted">Owner and President</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/andrew.jpg">
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
  {{> "bio_hopf"}}
</div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Eric Hagemann, MSc, CSCS</h4>
    <h5 class="text-muted">Director of Training</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/eric.jpg">
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
    {{> "bio_hagemann"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Dylan Campion, R.Kin</h4>
    <h5 class="text-muted">Head Strength Coach, Stratford</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/dylan.jpg">
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
    {{> "bio_campion"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Zach Shomphe</h4>
    <h5 class="text-muted">Head Strength Coach, Cambridge</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/zach.jpg">
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
    {{> "bio_shomphe"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Michelle Miguel, RMT</h4>
    <h5 class="text-muted">Massage Therapist</h5>
    <h5 class="text-muted">Operations Manager</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/michelle.jpg" />
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
    {{> "bio_miguel"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h4>Heather Foell, R.Kin</h4>
    <h5 class="text-muted">NLPTfit Head Coach</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/heather.jpg">
  </div>
  <div class="col-sm-8">
    <h4>Background</h4> 
    {{> "bio_foell"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h3>Erik Krebs</h3>
    <h5>Strength and Conditioning Coach</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/staff/krebs.jpg">
  </div>
  <div class="col-sm-8"> 
    {{> "bio_krebs"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h3>Chris Williamson</h3>
    <h5>Strength and Conditioning Coach</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/logo.png">
  </div>
  <div class="col-sm-8"> 
    {{> "bio_williamson"}}
  </div>
</div>
  <hr>

<div class="clearfix staff-box row">
  <div class="col-sm-4">
    <h3>Scott Patton</h3>
    <h5>Strength and Conditioning Coach</h5>
    <img class="img-circle img-thumbnail-left" src="/assets/images/logo.png">
  </div>
  <div class="col-sm-8"> 
    {{> "bio_patton"}}
  </div>
</div>

