{{!< default}}
      <h1 class="page-header">Clients section</h1>
      <p>We appreciate your decision to be a part of the NLPT family. Below is a list of additional benefits, programs, and partnerships that you, as a member of NLPT are welcome to take advantage of.</p>
      
      <section>
        <h2 class="text-center">Family Discount</h2>
          <p>It's not uncommon for clients to discover NLPT through a family member. Sometimes a parent signs their child up only to discover that NLPTfit would be a great program for themselves. Other times multiple siblings wish to train together. However it comes about, we're always honored when family members choose to train with us. However we know that things can quickly get expensive. So as a way of saying thank you, we provide a <b>25% discount when three or more family members sign up to train with us.</b> </p>

        <div class="fine-print">
          <h5>Conditions</h5>
          <ul>
            <li><small>Applicable for NLPTfit and NLPTathlete programs only</small></li>
            <li><small>Only available for immediate family members from the same household.</small></li>
            <li><small>Discounts can not get pro-rated mid-billing cycle. Discounts will be applied to the next billing date.</small></li>
            <li><small>Not available for the Summer HP Program</small></li>
          </ul>
        </div>
      </section>
      <section>

      <h2 class="text-center">Referral Program</h2>

      <p>Our business is built on word-of-mouth. As a way of saying thank you, we provide a $30 account credit to each member that sends someone our way.</p>
      </section>
      <section>
      <h2 class="text-center">Feedback</h2>
      <p>Have any feedback for us? Want to leave us a glowing testimonial? Fill out the form below and we'll either get right back to you.</p>
      {{> "contact_form"}}
      </section>
    </div>
  </div>
</div>
