{{!< default}}

  <div class="main-header-content inner">
      <h1 class="page-title">Topic: {{tag.name}}</h1>
      <p><a href="/blog"><i style="margin-right:10px" class="fa fa-lg fa-mail-reply"></i>Back to blog</a></p>
  </div>

<div class="main-blog row">
  <div class="blog-loop col-xs-8"> 
    {{> "loop"}}
  </div>
  <div class="col-xs-4">
  {{> "tag-loop"}}
  {{> "archive-loop"}}
  </div>
</div>
