

/* NAVBAR */
.hover-layer {
  height: 3px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1049;
}
.navbar {
  // background-color: $theme-color-dark;
  // border-color: #e8e8e8;
  padding: 5px 0;
  border-top: 1px solid $color-highlight-1;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,.14);

  .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
  }

  .navbar-brand img {
    width: 45px;
    position: absolute;
    top: 6px;
  }
}

.dropdown-menu>li>a {
  padding: 5px 20px;
}
.navbar li.disabled > a:hover {
  cursor: default;
}

/* SUBSCRIBE */

.subscribe-wrapper {
  background: $color-highlight-1;
}

.subscribe {
}

#mc_embed_signup_scroll > * {
}

#mc-embedded-subscribe {
  padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background: #333;
    color: white;
}

input#mce-EMAIL {
      padding: 5px;
    border-style: none;
    border-radius: 3px;
    width: 200px;
}

label[for="mce-EMAIL"] {
}

/* EMAIL POPUP */
#email-popup {

  position: fixed;
  background: url('../images/email-cover2.jpg');
  top: 0;
  width: 100%;
  // right: 0;
  // left: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  // background: rgba(255, 255, 255, 0.92);

  z-index: 9999;
  
  .fa-times {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin: 1em;
  }

  #mc_embed_signup {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 1.5em 0;

    h1 {
      font-size: 5em;
      text-align: center;
      span {
        color: $color-highlight-1;
      }

      @media (max-width: $mq-sm) {
        font-size: 3em;
      }
    }

    h1, h3, p {
      color: white;
    }
    
    form {
      width: 70%;
      max-width: 500px;
      margin: 0 auto;
    }
    input#mce-EMAIL {
      border: 1px solid #9a9a9a;
      width: 100%;
    }

    #mc-embedded-subscribe {
      padding: 6px 12px;
      border: 1px solid black;
      border-radius: 4px;
      width: 100%;
    }

    #mc-embedded-subscribe:hover {
      background: black;
    }

  }
}


/* HERO */
.hero-wrapper {
  width: 140%;
  position: relative;
  left: -20%;
  height: 500px;
  overflow: hidden;
  background: url('../images/banners/nlpt-main-banner.jpg');
  background-size: cover;
  @media (max-width: $mq-md) {
    height: 400px;
  } 
  @media (max-width: $mq-sm) {
    height: 300px;
  } 
  
}
.hero-header {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  .site-title {
    font-family: $font-title;
    font-size: 10em;
    margin: 0;
    letter-spacing: 40px;
    color: white;

    @media (max-width: $mq-md) {
      letter-spacing: 30px;
      font-size: 8em;
    } 
    @media (max-width: $mq-sm) {
      letter-spacing: 20px;
      font-size: 6em;
    } 
  }

  .hero-logo {
    @media (max-width: $mq-sm) {
      width: 35%;
    }  
  }

  .sub-title {
    color: white;
    font-size: 2em;
    margin: 0;
    font-weight: 300;

    @media (max-width: $mq-md) {
      font-size: 1.2em;
    } 
    @media (max-width: $mq-sm) {
      font-size: 1em;
    } 
  }
}

/*
=================
FOOTER
=================
*/

.footer-wrapper {
  background: $color-dark-gray;
  a, p, td, h1, h2, h3, h4, h5 {
    color: white;
  }
  a:hover {
    color: $color-highlight-1;
  }
  .address {
    background: transparent;
    padding: 0;
    border: none;
    p {
      margin: 0;
      padding: 0;
      font-size: 0.8em;
    }
  }

  .footer-social {
    
  }

  .schedule td {
    @media (max-width: $mq-sm) {
      font-size: 8px;
    }
  }

  .footer-navigation {
    padding: 0;
    li {
      margin-bottom: 10px;
      text-align: center;
      list-style: none;
    }
  }


  .footer-column-title {
    background: white;
    color: $color-dark-gray;
    text-align: center;
    padding: 4px 0;
    border-radius: 3px;
  }
}

/*
================
LOOP
================
*/

.loop__item {
  display: flex;
  padding-bottom: 2em;
  border-bottom: 1px solid #dadada;
}
.loop__item + .loop__item {
  padding-top: 2em;
}

.post-preview-area {
  .post-title {
    color: #222;
    display: block;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
  time {
    font-weight: 300;
  }
}
.loop-content {
}

.loop-img {
  display: inline-block;
  margin-right: 1em;
  height: 150px;
  width: 210px;
  background-size: cover;
  background-position: center center;
}
.loop-excerpt {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 240px);
}
.post-preview-area:first-of-type {
  padding-top: 0;
}

.tag {
  text-transform: capitalize;
}
.tag-loop,
.archive-loop {
  padding: 0;
  margin-bottom: 4em;

  li {
    list-style: none;
    text-align: right;

    p {
      margin-bottom: 10px;
    }
  }
}

.archive-loop {
  height: 500px;
  overflow: scroll;
}

.read-more {

}

@media (max-width: $mq-lg) {
  .loop-img {
    width: 160px;
    height: 110px;
  }
  .loop-excerpt {
    width: calc(100% - 180px);
  }
}
@media (max-width: $mq-sm) {
  .loop-img {
    display: block;
  margin-bottom: 1em;
    width: 100%;
    height: 170px;
    margin-right: 0;
  }
  .loop-excerpt {
    display: block;
    width: 100%;
  }
  .post-title {
    font-size: 24px;
  }
}
/*
================
POST
================
*/
.post {
  padding: 3em 0;
  max-width: 800px;
  margin: 0 auto;
  .post-title {
    margin-bottom: 20px;
  }
  h1 {
    font-weight: 400;
  }
  h2, h3, h4, h5 {
    font-weight: 700;
    margin-top: 0;
  }
  .post-date {
    font-weight: 400;
  }
}
.post-img {
  width: 100%;
}
.post-meta {
  margin-bottom: 10px;
}
.post-tags {
  display: inline-block;
}
 .share-icons {
    position: fixed;
    left: 0;
    top: 40%;
    padding: 5px;
    a {
      display: block;
    }
    a.fa {
      color: #333;
    }
    a.fa:hover {
      color: $color-highlight-1;
    }

    h5 {
      margin-bottom: 18px;
    }

   a.fa {
    border: none;
    margin-left: 10px;
   }
 }

 /*
 =================
 MAIN
 =================
 */

 .main-social {
  h4 {
    font-weight: 300;
  }
 }

 /*
 =================
 CONTACT MODAL
 =================
 */

.contact-button {
  position: fixed;
  border-radius: 0;
  bottom: 0;
  padding: 5px 0;
  left: 0;
  z-index: 1;
  right: 0;
  width: 100%;
  color: black;
  background: $color-highlight-1;
  border: none;
  border-top: 1px solid #dcb50b;
}
.contact-button:hover {
  background: #dcb50b;
  border: none;
  color: black;
  border-top: 1px solid #dcb50b;
}

.contact-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  z-index: 3;
  overflow-y: scroll;
  box-shadow: 3px 3px 8px 1px rgba(50, 50, 50, 0.75);
  h2 {
    margin: 0.4em 0;
    font-weight: bold;
  }
  h3 {
    margin-bottom: 0.4em;
  }
  li {
    display: list-item;
    margin-left: 30px;
    list-style: circle;
  }
}

.modal-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 39, 39, 0.6);
  z-index: 2;
}


// Alumni Grid

.alumni-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;

  @media (min-width: $mq-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $mq-md) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (min-width: $mq-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

}

.player-name {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}
.player-sport,
.player-team {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
.player-sport {
  font-style: normal;
}
.player-img {
  width: 125px;
    box-shadow: 1px 1px 3px 1px #736f6f;
    height: 125px;
    background: url(../images/athletes/default.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 7px;
}

.wall-of-fame-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;

  @media (min-width: $mq-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $mq-lg) {
    grid-gap: 20px;
  }

  .player-img {
    width: 150px;
    height: 150px;
    @media (min-width: $mq-lg) {
      width: 175px;
      height: 175px;
    }
  }
}
section.testimonial {
  padding: 3em;
  margin: 3em 0;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  p {
    font-size: 1.2em;
    font-style: italic;
  }
}

// INDEX PAGE

.portals a h3 {
  color: $color-highlight-1;
  text-transform: uppercase;
}
.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.event-image {
  display: block;
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 1px 3px 1px #736f6f;
  @media (max-width: $mq-md) {
    height: 150px;    
  }

  @media (max-width: $mq-sm) {
    height: 100px;    
  }
}
.event-image-cover {
  background-size: cover;
}

.event-info {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
}

.event-name {
  margin: 0;
}