

// Theme colors
$color-highlight-1: #ffd10c;
$color-dark-gray: #474747;
$theme-color-dark: #0a0a0a;
$theme-color-gray: #e2e2e2;
$theme-color-light: #ffffff;
$text-link-color: #ddb300;
$button-red: #e65555;
$button-email: #2ecc71;
$yellow: #ffef20;

// Fonts
// $font-title: "Cormorant Garamond", Georgia, serif;
$font-title: 'Orbitron', sans-serif;
$font-body: Georgia, serif;

// Share
$twitter: #00aced;
$facebook: #3b5998;
$google: #dd4b39;
$mail: #ffeb3b;

// Layout
$mq-xs: 20em;
$mq-sm: 35em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

img {
  max-width: 100%;
  margin-bottom: 20px;
}

h1 {
  font-weight: 300;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 3.5em;

  @media (max-width: $mq-sm) {
    font-size: 2.5em;
  }
}

h2, h3, h4 {
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: $mq-md) {
    font-size: 14px;
  }
}

ol li {
  font-size: 16px;
  line-height: 1.5;
  @media (max-width: $mq-md) {
    font-size: 14px;
  }
}
h2 {
}

hr {
  border-top-color: #c7c7c7;
  margin-top: 40px;
}

blockquote {
  margin: 20px 0;
  font-size: 1em;
  font-style: italic;
  color: #525252;
}

section {
  padding-top: 0;
  padding-bottom: 3em;
  border-bottom: 1px solid #d8d8d8;

  h1 {
    margin-bottom: 1em;
  }
}

section + section {
  padding-top: 3em;
}

label {
  display: inline;
  font-weight: 400;
}

a {
  color: #e1b80a;
  transition: all 0.2s ease;


}
a:hover {
  text-decoration: none;
  color: $color-highlight-1;
}
.panel a {
  color: #3498db;
}