.signature {
  margin-top: 20px;
  font-family: 'Rock Salt', Helvetica, sans-serif;
}
.quick-info {
  .header {
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 2px solid $color-highlight-1;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
}

.new:before {
    content: "new";
    color: #ffd10c;
    background: #474747;
    margin-right: 5px;
    font-size: 10px;
    vertical-align: baseline;
    display: inline-block;
    line-height: 14px;
    padding: 2px 6px;
    border-radius: 3px;
}