img {
  max-width: 100%;
  margin-bottom: 20px; }

h1 {
  font-weight: 300;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 3.5em; }
  @media (max-width: 35em) {
    h1 {
      font-size: 2.5em; } }

h2, h3, h4 {
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em; }

p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5; }
  @media (max-width: 54em) {
    p {
      font-size: 14px; } }

ol li {
  font-size: 16px;
  line-height: 1.5; }
  @media (max-width: 54em) {
    ol li {
      font-size: 14px; } }

hr {
  border-top-color: #c7c7c7;
  margin-top: 40px; }

blockquote {
  margin: 20px 0;
  font-size: 1em;
  font-style: italic;
  color: #525252; }

section {
  padding-top: 0;
  padding-bottom: 3em;
  border-bottom: 1px solid #d8d8d8; }
  section h1 {
    margin-bottom: 1em; }

section + section {
  padding-top: 3em; }

label {
  display: inline;
  font-weight: 400; }

a {
  color: #e1b80a;
  transition: all 0.2s ease; }

a:hover {
  text-decoration: none;
  color: #ffd10c; }

.panel a {
  color: #3498db; }

body {
  margin-top: 50px; }

@media (min-width: 1200px) {
  .container {
    width: 970px; } }
.fa-check-green {
  color: #27ae60; }

.fa-check-gold {
  color: #ffd10c; }

.fa-close {
  color: #b00b00; }

.table-small-text td, .table-small-text p {
  font-size: 0.9em;
  margin: 0; }
.table-small-text h5 {
  margin: 0; }

.table-schedule tr td p {
  margin-bottom: 5px; }

.page-header {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  border: none;
  margin: 40px 0; }

/* IMAGES */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.img-thumbnail-left {
  width: 200px;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.img-thumbnail-left-150 {
  width: 150px;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.img-thumbnail-right {
  width: 200px;
  float: right;
  margin-right: 0;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.img-full {
  width: 95%;
  max-width: 1000px;
  display: block;
  margin: 0 auto 1em auto; }

.img-center-200 {
  width: 200px;
  margin: 1em auto;
  display: block; }

.img-center-100-px {
  width: 100px;
  margin: 1em auto;
  display: block; }

.rotate-180 {
  transform: rotateZ(180deg); }

.rotate-90 {
  transform: rotateZ(90deg); }

.rotate-270 {
  transform: rotateZ(270deg); }

.img-right-25,
.img-right-40,
.img-right-50,
.img-right-60 {
  float: right;
  margin-top: 0 !important;
  margin-left: 1em !important;
  margin-bottom: 1em !important;
  margin-right: 0 !important; }

.img-right-25,
.img-left-25,
.img-center-25 {
  width: 25%; }
  @media (max-width: 35em) {
    .img-right-25,
    .img-left-25,
    .img-center-25 {
      width: 100%; } }

.img-right-40 {
  width: 40%; }
  @media (max-width: 35em) {
    .img-right-40 {
      width: 100%; } }

.img-right-50,
.img-left-50,
.img-center-50 {
  width: 50%; }
  @media (max-width: 35em) {
    .img-right-50,
    .img-left-50,
    .img-center-50 {
      width: 100%; } }

.img-right-60,
.img-left-60 {
  width: 60%; }
  @media (max-width: 35em) {
    .img-right-60,
    .img-left-60 {
      width: 100%; } }

.img-left-25,
.img-left-40,
.img-left-50,
.img-left-60 {
  float: left !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 1 !important;
  margin-right: 1em !important; }

.img-left-40 {
  width: 40%; }
  @media (max-width: 35em) {
    .img-left-40 {
      width: 100%; } }

.img-center-25,
.img-center-50,
.img-center-75,
.img-center-100 {
  display: block !important;
  margin: 0 auto 1em auto !important; }

.img-center-75 {
  width: 75%; }
  @media (max-width: 35em) {
    .img-center-75 {
      width: 100%; } }

.img-center-100 {
  width: 100%; }

.box {
  background: gray;
  padding: 1em;
  border-radius: 4px; }

.box-sm {
  padding: 0.3em; }

.box-red {
  background: #e65555;
  color: #fff; }

.box-highlight {
  background: #ffd10c; }

.box-yellow {
  background: #ffef20; }

.box-blue {
  background: #d9edf7; }

.text-danger {
  color: #ee5253; }

.text-white {
  color: #fff; }

.text-thin {
  font-weight: 300; }

.text-extra-thin {
  font-weight: 100; }

.author {
  font-style: italic;
  color: #474747; }

.bg-gold {
  background: #fff3b2; }

.fullscreen-image {
  width: 110%;
  left: -5%;
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (min-width: 35em) {
    .fullscreen-image {
      height: 500px; } }
  @media (min-width: 54em) {
    .fullscreen-image {
      width: 130%;
      left: -15%;
      height: 600px; } }
  @media (min-width: 64em) {
    .fullscreen-image {
      width: 140%;
      left: -20%; } }

.padding-1 {
  padding: 1em; }

.padding-half-1 {
  padding: 1em; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

/* NAVBAR */
.hover-layer {
  height: 3px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1049; }

.navbar {
  padding: 5px 0;
  border-top: 1px solid #ffd10c; }
  .navbar .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px; }
  .navbar .navbar-brand img {
    width: 45px;
    position: absolute;
    top: 6px; }

.dropdown-menu > li > a {
  padding: 5px 20px; }

.navbar li.disabled > a:hover {
  cursor: default; }

/* SUBSCRIBE */
.subscribe-wrapper {
  background: #ffd10c; }

#mc-embedded-subscribe {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: #333;
  color: white; }

input#mce-EMAIL {
  padding: 5px;
  border-style: none;
  border-radius: 3px;
  width: 200px; }

/* EMAIL POPUP */
#email-popup {
  position: fixed;
  background: url("../images/email-cover2.jpg");
  top: 0;
  width: 100%;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999; }
  #email-popup .fa-times {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin: 1em; }
  #email-popup #mc_embed_signup {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 1.5em 0; }
    #email-popup #mc_embed_signup h1 {
      font-size: 5em;
      text-align: center; }
      #email-popup #mc_embed_signup h1 span {
        color: #ffd10c; }
      @media (max-width: 35em) {
        #email-popup #mc_embed_signup h1 {
          font-size: 3em; } }
    #email-popup #mc_embed_signup h1, #email-popup #mc_embed_signup h3, #email-popup #mc_embed_signup p {
      color: white; }
    #email-popup #mc_embed_signup form {
      width: 70%;
      max-width: 500px;
      margin: 0 auto; }
    #email-popup #mc_embed_signup input#mce-EMAIL {
      border: 1px solid #9a9a9a;
      width: 100%; }
    #email-popup #mc_embed_signup #mc-embedded-subscribe {
      padding: 6px 12px;
      border: 1px solid black;
      border-radius: 4px;
      width: 100%; }
    #email-popup #mc_embed_signup #mc-embedded-subscribe:hover {
      background: black; }

/* HERO */
.hero-wrapper {
  width: 140%;
  position: relative;
  left: -20%;
  height: 500px;
  overflow: hidden;
  background: url("../images/banners/nlpt-main-banner.jpg");
  background-size: cover; }
  @media (max-width: 54em) {
    .hero-wrapper {
      height: 400px; } }
  @media (max-width: 35em) {
    .hero-wrapper {
      height: 300px; } }

.hero-header {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }
  .hero-header .site-title {
    font-family: "Orbitron", sans-serif;
    font-size: 10em;
    margin: 0;
    letter-spacing: 40px;
    color: white; }
    @media (max-width: 54em) {
      .hero-header .site-title {
        letter-spacing: 30px;
        font-size: 8em; } }
    @media (max-width: 35em) {
      .hero-header .site-title {
        letter-spacing: 20px;
        font-size: 6em; } }
  @media (max-width: 35em) {
    .hero-header .hero-logo {
      width: 35%; } }
  .hero-header .sub-title {
    color: white;
    font-size: 2em;
    margin: 0;
    font-weight: 300; }
    @media (max-width: 54em) {
      .hero-header .sub-title {
        font-size: 1.2em; } }
    @media (max-width: 35em) {
      .hero-header .sub-title {
        font-size: 1em; } }

/*
=================
FOOTER
=================
*/
.footer-wrapper {
  background: #474747; }
  .footer-wrapper a, .footer-wrapper p, .footer-wrapper td, .footer-wrapper h1, .footer-wrapper h2, .footer-wrapper h3, .footer-wrapper h4, .footer-wrapper h5 {
    color: white; }
  .footer-wrapper a:hover {
    color: #ffd10c; }
  .footer-wrapper .address {
    background: transparent;
    padding: 0;
    border: none; }
    .footer-wrapper .address p {
      margin: 0;
      padding: 0;
      font-size: 0.8em; }
  @media (max-width: 35em) {
    .footer-wrapper .schedule td {
      font-size: 8px; } }
  .footer-wrapper .footer-navigation {
    padding: 0; }
    .footer-wrapper .footer-navigation li {
      margin-bottom: 10px;
      text-align: center;
      list-style: none; }
  .footer-wrapper .footer-column-title {
    background: white;
    color: #474747;
    text-align: center;
    padding: 4px 0;
    border-radius: 3px; }

/*
================
LOOP
================
*/
.loop__item {
  display: flex;
  padding-bottom: 2em;
  border-bottom: 1px solid #dadada; }

.loop__item + .loop__item {
  padding-top: 2em; }

.post-preview-area .post-title {
  color: #222;
  display: block;
  font-size: 1.8em;
  margin-bottom: 1em; }
.post-preview-area time {
  font-weight: 300; }

.loop-img {
  display: inline-block;
  margin-right: 1em;
  height: 150px;
  width: 210px;
  background-size: cover;
  background-position: center center; }

.loop-excerpt {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 240px); }

.post-preview-area:first-of-type {
  padding-top: 0; }

.tag {
  text-transform: capitalize; }

.tag-loop,
.archive-loop {
  padding: 0;
  margin-bottom: 4em; }
  .tag-loop li,
  .archive-loop li {
    list-style: none;
    text-align: right; }
    .tag-loop li p,
    .archive-loop li p {
      margin-bottom: 10px; }

.archive-loop {
  height: 500px;
  overflow: scroll; }

@media (max-width: 64em) {
  .loop-img {
    width: 160px;
    height: 110px; }

  .loop-excerpt {
    width: calc(100% - 180px); } }
@media (max-width: 35em) {
  .loop-img {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    height: 170px;
    margin-right: 0; }

  .loop-excerpt {
    display: block;
    width: 100%; }

  .post-title {
    font-size: 24px; } }
/*
================
POST
================
*/
.post {
  padding: 3em 0;
  max-width: 800px;
  margin: 0 auto; }
  .post .post-title {
    margin-bottom: 20px; }
  .post h1 {
    font-weight: 400; }
  .post h2, .post h3, .post h4, .post h5 {
    font-weight: 700;
    margin-top: 0; }
  .post .post-date {
    font-weight: 400; }

.post-img {
  width: 100%; }

.post-meta {
  margin-bottom: 10px; }

.post-tags {
  display: inline-block; }

.share-icons {
  position: fixed;
  left: 0;
  top: 40%;
  padding: 5px; }
  .share-icons a {
    display: block; }
  .share-icons a.fa {
    color: #333; }
  .share-icons a.fa:hover {
    color: #ffd10c; }
  .share-icons h5 {
    margin-bottom: 18px; }
  .share-icons a.fa {
    border: none;
    margin-left: 10px; }

/*
=================
MAIN
=================
*/
.main-social h4 {
  font-weight: 300; }

/*
=================
CONTACT MODAL
=================
*/
.contact-button {
  position: fixed;
  border-radius: 0;
  bottom: 0;
  padding: 5px 0;
  left: 0;
  z-index: 1;
  right: 0;
  width: 100%;
  color: black;
  background: #ffd10c;
  border: none;
  border-top: 1px solid #dcb50b; }

.contact-button:hover {
  background: #dcb50b;
  border: none;
  color: black;
  border-top: 1px solid #dcb50b; }

.contact-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  z-index: 3;
  overflow-y: scroll;
  box-shadow: 3px 3px 8px 1px rgba(50, 50, 50, 0.75); }
  .contact-modal h2 {
    margin: 0.4em 0;
    font-weight: bold; }
  .contact-modal h3 {
    margin-bottom: 0.4em; }
  .contact-modal li {
    display: list-item;
    margin-left: 30px;
    list-style: circle; }

.modal-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(39, 39, 39, 0.6);
  z-index: 2; }

.alumni-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center; }
  @media (min-width: 35em) {
    .alumni-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 54em) {
    .alumni-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
  @media (min-width: 64em) {
    .alumni-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }

.player-name {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold; }

.player-sport,
.player-team {
  margin: 0;
  font-size: 0.8em;
  font-style: italic; }

.player-sport {
  font-style: normal; }

.player-img {
  width: 125px;
  box-shadow: 1px 1px 3px 1px #736f6f;
  height: 125px;
  background: url(../images/athletes/default.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 7px; }

.wall-of-fame-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-items: center; }
  @media (min-width: 35em) {
    .wall-of-fame-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (min-width: 64em) {
    .wall-of-fame-grid {
      grid-gap: 20px; } }
  .wall-of-fame-grid .player-img {
    width: 150px;
    height: 150px; }
    @media (min-width: 64em) {
      .wall-of-fame-grid .player-img {
        width: 175px;
        height: 175px; } }

section.testimonial {
  padding: 3em;
  margin: 3em 0;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8; }
  section.testimonial p {
    font-size: 1.2em;
    font-style: italic; }

.portals a h3 {
  color: #ffd10c;
  text-transform: uppercase; }

.events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }

.event-image {
  display: block;
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 1px 1px 3px 1px #736f6f; }
  @media (max-width: 54em) {
    .event-image {
      height: 150px; } }
  @media (max-width: 35em) {
    .event-image {
      height: 100px; } }

.event-image-cover {
  background-size: cover; }

.event-info {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 5px; }

.event-name {
  margin: 0; }

.signature {
  margin-top: 20px;
  font-family: 'Rock Salt', Helvetica, sans-serif; }

.quick-info .header {
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffd10c; }
.quick-info p {
  margin: 0;
  padding: 0; }

.new:before {
  content: "new";
  color: #ffd10c;
  background: #474747;
  margin-right: 5px;
  font-size: 10px;
  vertical-align: baseline;
  display: inline-block;
  line-height: 14px;
  padding: 2px 6px;
  border-radius: 3px; }

.section-heading {
  margin-top: 3em;
  color: white;
  background: #ffd10c;
  padding: 0.5em 1em;
  text-transform: uppercase; }
  .section-heading span {
    background: black;
    color: white; }

.category .category-top {
  margin-bottom: 10px;
  border-bottom: 1px solid #ffd10c;
  padding-bottom: 10px;
  width: 400px;
  color: gray;
  font-weight: 300; }
.category .category-bottom {
  margin-top: 10px; }

.category {
  margin-top: 5em; }

.ballantyne {
  background-image: url("../images/athletes/ballantyne.jpg"); }

.behenna {
  background-image: url("../images/athletes/behenna.jpg"); }

.blight {
  background-image: url("../images/athletes/blight.jpg"); }

.brubacher {
  background-image: url("../images/athletes/brubacher.jpg"); }

.childerley {
  background-image: url("../images/athletes/childerley.jpg"); }

.core {
  background-image: url("../images/athletes/core.jpg"); }

.coupland {
  background-image: url("../images/athletes/coupland.jpg"); }

.courtney {
  background-image: url("../images/athletes/courtney.jpg"); }

.dalrymple {
  background-image: url("../images/athletes/dalrymple.jpg"); }

.dejong {
  background-image: url("../images/athletes/dejong.jpg"); }

.dempsey {
  background-image: url("../images/athletes/dempsey.jpg"); }

.devine {
  background-image: url("../images/athletes/devine.jpg"); }

.doherty {
  background-image: url("../images/athletes/doherty.jpg"); }

.dotchin {
  background-image: url("../images/athletes/dotchin.jpg"); }

.foster {
  background-image: url("../images/athletes/foster.jpg"); }

.furlong {
  background-image: url("../images/athletes/furlong.jpg"); }

.genovese {
  background-image: url("../images/athletes/genovese.jpg"); }

.gibb {
  background-image: url("../images/athletes/gibb.jpg"); }

.gilhula {
  background-image: url("../images/athletes/gilhula.jpg"); }

.gilligan {
  background-image: url("../images/athletes/gilligan.jpg"); }

.good {
  background-image: url("../images/athletes/good.jpg"); }

.grant {
  background-image: url("../images/athletes/grant.jpg"); }

.gaudet {
  background-image: url("../images/athletes/gaudet.jpg"); }

.haddaway {
  background-image: url("../images/athletes/haddaway.jpg"); }

.halmo {
  background-image: url("../images/athletes/halmo.jpg"); }

.harding {
  background-image: url("../images/athletes/harding.jpg"); }

.harrietha {
  background-image: url("../images/athletes/harrietha.jpg"); }

.henderson {
  background-image: url("../images/athletes/henderson.jpg"); }

.hertel {
  background-image: url("../images/athletes/hertel.jpg"); }

.hiff {
  background-image: url("../images/athletes/hiff.jpg"); }

.jutzi {
  background-image: url("../images/athletes/jutzi.jpg"); }

.klahsen {
  background-image: url("../images/athletes/klahsen.jpg"); }

.klie {
  background-image: url("../images/athletes/klie.jpg"); }

.kohli {
  background-image: url("../images/athletes/kohli.jpg"); }

.koncir {
  background-image: url("../images/athletes/koncir.jpg"); }

.kostigian {
  background-image: url("../images/athletes/kostigian.jpg"); }

.krebs {
  background-image: url("../images/athletes/krebs.jpg"); }

.kress {
  background-image: url("../images/athletes/kress.jpg"); }

.ladhani {
  background-image: url("../images/athletes/ladhani.jpg"); }

.landman {
  background-image: url("../images/athletes/landman.jpg"); }

.landry {
  background-image: url("../images/athletes/landry.jpg"); }

.lowry {
  background-image: url("../images/athletes/lowry.jpg"); }

.macdonald {
  background-image: url("../images/athletes/macdonald.jpg"); }

.macey {
  background-image: url("../images/athletes/macey.jpg"); }

.machalski {
  background-image: url("../images/athletes/machalski.jpg"); }

.maidment {
  background-image: url("../images/athletes/maidment.jpg"); }

.manning {
  background-image: url("../images/athletes/manning.jpg"); }

.mcclure {
  background-image: url("../images/athletes/mcclure.jpg"); }

.mckague {
  background-image: url("../images/athletes/mckague.jpg"); }

.mckeown {
  background-image: url("../images/athletes/mckeown.jpg"); }

.mcphee {
  background-image: url("../images/athletes/mcphee.jpg"); }

.middleton {
  background-image: url("../images/athletes/middleton.jpg"); }

.otoole {
  background-image: url("../images/athletes/otoole.jpg"); }

.owenmacdonald {
  background-image: url("../images/athletes/owenmacdonald.jpg"); }

.patton {
  background-image: url("../images/athletes/patton.jpg"); }

.pellegrino {
  background-image: url("../images/athletes/pellegrino.jpg"); }

.pickering {
  background-image: url("../images/athletes/pickering.jpg"); }

.pittaway {
  background-image: url("../images/athletes/pittaway.jpg"); }

.platzer {
  background-image: url("../images/athletes/platzer.jpg"); }

.pugliese {
  background-image: url("../images/athletes/pugliese.jpg"); }

.rimmer {
  background-image: url("../images/athletes/rimmer.jpg"); }

.ruby {
  background-image: url("../images/athletes/ruby.jpg"); }

.russell {
  background-image: url("../images/athletes/russell.jpg"); }

.schmidt {
  background-image: url("../images/athletes/schmidt.jpg"); }

.seraphim {
  background-image: url("../images/athletes/seraphim.jpg"); }

.sonnenburg {
  background-image: url("../images/athletes/sonnenburg.jpg"); }

.snider {
  background-image: url("../images/athletes/snider.jpg"); }

.stajcer {
  background-image: url("../images/athletes/stajcer.jpg"); }

.subban {
  background-image: url("../images/athletes/subban.jpg"); }

.vanboekel {
  background-image: url("../images/athletes/vanboekel.jpg"); }

.vandyk {
  background-image: url("../images/athletes/vandyk.jpg"); }

.vanpelt {
  background-image: url("../images/athletes/vanpelt.jpg"); }

.wale {
  background-image: url("../images/athletes/wale.jpg"); }

.weber {
  background-image: url("../images/athletes/weber.jpg"); }

.wilson {
  background-image: url("../images/athletes/wilson.jpg"); }

.winkler {
  background-image: url("../images/athletes/winkler.jpg"); }

.wood {
  background-image: url("../images/athletes/wood.jpg"); }

.woods {
  background-image: url("../images/athletes/woods.jpg"); }

/*# sourceMappingURL=main.css.map */
